[2020-03-05 03:40] jcn commented on #222
@johntmyers Non-standard extensions are explicitly allowed by the spec, if that's what you're asking about more broadly: https://github.com/NABSA/gbfs/blob/master/README.md#extensions-outside-of-the-specification

[2020-03-06 14:47] yocontra opened #225 "Nextbike feeds offline"
Not working: https://gbfs.nextbike.net/maps/gbfs/v1/nextbike_wb/gbfs.json
Working: https://gbfs.nextbike.net/maps/gbfs/v1/nextbike_pp/gbfs.json

I searched "nextbike (feed 2 letter id)" and dug up some news that may be relevant:

- https://www.bikenewhavenct.com/ (nextbike_ct?)
- https://www.reuters.com/article/idUSL8N27E10R (nextbike_nb?)
- https://www.sixtbicycle.ee/en (nextbike_ee?)

If these f

[2020-03-06 19:23] evansiroky opened #226 "Fields with missing types in system_information.json"
Are the fields `attribution_organization_name` and `attribution_url` supposed to be string and URL respectively?

<img width="1307" alt="Screen Shot 2020-03-06 at 11 21 39 AM" src="https://user-images.githubusercontent.com/3112493/76115309-cdc50700-5f9c-11ea-8e05-1bd872ffaf2f.png">

[2020-03-06 19:53] antrim commented on #226
Yes. Good catch.

[2020-03-10 15:59] yocontra commented on #225
Fixed by https://github.com/NABSA/gbfs/pull/220

[2020-03-10 15:59] #225 closed, assigned to nobody

[2020-03-11 17:39] morganherlocker commented on #222
For what it's worth, this issue also exists with non-rotated bike_id. This is another way to get at trip reconstruction.

[2020-03-13 20:53] barbeau commented on #226
Thanks @evansiroky! This is fixed in https://github.com/NABSA/gbfs/commit/d4b49e0a50def02aa32e9cd9f1221fef4b05c34f.

[2020-03-13 20:53] #226 closed, assigned to nobody

[2020-03-29 11:43] bddq opened #232 "When to consider data from a feed outdated?"
Hi,

Is file data considered as outdated when `last_updated + ttl < current_timestamp` ?
Maybe `last_updated` field will never change if data in that feed is not updated (i.e. system closure) and so `last_updated + ttl < current_timestamp` will be always true until data changes...

Thanks for your help/ideas...
Benoit

[2020-04-23 20:33] heidiguenin opened #237 "Maintaining existing use cases with recent updates"
With the adoption of #147, we heard that the change might break some existing use cases of GBFS and a request to address those concerns. Several different possible options were floated, including creating a version of bike_id (or [vehicle_id](https://github.com/NABSA/gbfs/pull/236)) that allowed for a persistent id but only for authenticated feeds.

What are folks' thought on this now, a couple mo

[2020-04-23 20:43] sven4all commented on #237
I am really in favor of adding an monitoring_bike_status.json (or something like that) what is a authenticated feed with at least static bike_ids. Another addition for this feed could be a last_time_rented timestamp so that disturbances in GPS signals can be detected.

As a representative of different municipalities I am currently referring to free_bike_status.json with the side note that the id's

[2020-04-23 22:47] quicklywilliam commented on #237
One thing that seems relevant is that in MDS 0.4.1, Provider is gaining a new "vehicles" endpoint:
https://github.com/openmobilityfoundation/mobility-data-specification/tree/dev/provider#vehicles

This endpoint seems to provide exactly the sort of data and use case that would be provided by a  authenticated GBFS feed with stable vehicle IDs. I'd love to see a single standard get adopted here.

Her

[2020-05-04 19:08] flashspys commented on #237
At the moment we are developing a tool that acts more like a middle man. It publishes a GBFS-endpoint for a proprietary source. This middle man of course does not know when a trip has happened, thus it cannot rotate any bike_ids.

[2020-05-04 23:43] Empty2k12 commented on #237
In addition to what @flashspys said: The GBFS feed we're providing handles a station based bike rental system. That means, individual riders cannot be reidentified as rides start and end at specific stations. The station density for this provider is not high enough that a station can be tied to specific home / business addresses.

The only thing which having static bike IDs allows in this context

[2020-05-08 18:49] heidiguenin commented on #237
Re: the vehicles endpoint that @quicklywilliam posted - @jfh01, could you speak to that a little bit in terms of some of the use cases that are coming up here?

[2020-05-08 20:53] jfh01 commented on #237
As was mentioned, MDS adds a [`/vehicles`](https://github.com/openmobilityfoundation/mobility-data-specification/tree/release-0.4.1/provider#vehicles) endpoint in our 0.4.1 release. This endpoint is intended for use by regulators who want detailed real-time status of all vehicles on the public right-of-way. Compared to GBFS, it offers:

* Authenticated access
* Stable device IDs (and access to wha

[2020-05-25 18:55] heidiguenin commented on #223
@Noe-Santana We're going to be getting back to work on the GBFS best practices #193  - including determining what requests like this belong in the spec itself v best practices. We can make sure this gets discussed there, too.

[2020-05-25 22:31] #35 closed, assigned to nobody

[2020-05-25 22:40] heidiguenin commented on #98
@skinkie @sven4all I wanted to follow up with you about the issues raised here now that the minimum viable proposals for geofencing have been adopted into v2.1RC (including valet).

For the last three points of [your request](https://github.com/NABSA/gbfs/issues/98#issuecomment-388098755), it sounds like you will produce the data. Do you know of an interested consumer of that information?  Do you

[2020-06-04 05:02] heidiguenin commented on #199
Unsurprisingly, many of the same issues that have been raised by GBFS stakeholders with respect to vehicle types are also being raised on the MDS side - see ["Extend vehicle type definitions to improve ability to report on equity, access, and safety." ](https://github.com/openmobilityfoundation/mobility-data-specification/issues/426)

On the GBFS end, we'll need to balance providing increasingly d

[2020-06-23 18:30] #179 closed, assigned to nobody

[2020-07-07 14:31] josee-sabourin opened #244 "COVID-19 Response"
In light of COVID-19, many shared mobility providers are making modifications to their service, be it providing reduced rates for frontline heroes, installing hand sanitizer at docking stations, or more frequent cleaning. We're interested in understanding how you are communicating your COVID response with your users, and if you're using GBFS to do so. If you aren't using GBFS, why not, and what ar

[2020-07-07 15:51] mplsmitch commented on #244
I had the same question a while a go and looked at `system_alerts.json` for a  number of producers. The only system I was able to find with a COVID-19 message was Bixi:

[https://api-core.bixi.com/gbfs/fr/system_alerts.json](https://api-core.bixi.com/gbfs/fr/system_alerts.json)

[2020-07-20 18:11] josee-sabourin opened #248 "Adaptive Bikeshare"
We've been seeing a handful of cities piloting or deploying adaptive bikeshare programs in the past few years. MobilityData has compiled a [small research document](https://docs.google.com/document/d/198ACZ3bmsDqPydWtY6TiZAqsAuCHizPjcgArhWpzZos/edit?usp=sharing) with some of the systems and vehicles types that exist (please let us know if we've missed any!). How would you want to see this reflecte

[2020-07-21 13:39] josee-sabourin opened #249 "Improvement of systems.csv"
A handful of current open issues and PRs ([28](https://github.com/NABSA/gbfs/issues/28), [34](https://github.com/NABSA/gbfs/issues/34), [98](https://github.com/NABSA/gbfs/issues/98), [203](https://github.com/NABSA/gbfs/pull/203), [209](https://github.com/NABSA/gbfs/pull/209)), as well as a considerable number of closed ones, discuss systems.csv either for general upkeep or to discuss its shortcomi

[2020-07-23 13:22] davidlewis-ito opened #250 "aggregate numbers of available vehicle_types at a station"
GBFS v2.1-RC introduces the vehicle_types definition and enables the more specific description of the nature of the available docks at each station as well as details of each specific bike there.

Prior to this extension there have been a number of proprietary extensions to the station_status.json designed to communicate aspects of vehicles types such as:

    "num_bikes_available": 5,
    "num_eb

[2020-07-23 18:08] #186 closed, assigned to nobody

[2020-07-23 18:08] heidiguenin commented on #186
Closing now with the geofencing proposal passed.

[2020-07-23 18:43] #185 closed, assigned to nobody

[2020-07-23 18:47] #178 closed, assigned to nobody

[2020-07-24 13:17] skinkie commented on #249
I think it is a bad very bad idea to split this from the standard. Considering that GBFS is effectively in JSON, the move towards a system.json seems fine, but I don't understand why a different vocabulary is used for the geo stuff than GeoJSON. In addition, a polygon makes much more sense than a bounding box.

[2020-07-24 13:45] josee-sabourin opened #251 "vehicle_capacity and vehicle_type_capacity"
After reviewing the specification, MobilityData has realized the differentiation between `vehicle_capacity` and `vehicle_type_capacity` is not extremely clear. This is due, in part, to both the `geofencing.json` and `vehicle_types.json` extensions occurring concurrently. As a result, both of these fields were not able to be viewed in tandem before being merged into the specification.

`vehicle_cap

[2020-07-27 13:49] gcamp commented on #249
I think the format of the file should probably be part of the standard (this repo) but the data should probably be put somewhere else.

I agree that GeoJSON should be used where it makes sense.

[2020-07-27 20:43] josee-sabourin commented on #163
Hi all! We have opened [PR 253](https://github.com/NABSA/gbfs/pull/253) to discuss updating the governance, would love to have everyone's feedback.

[2020-07-28 00:39] kanagy commented on #251
+1 Good catch, it is really not clear that vehicle_capacity relates to station_area. We're not implementing these fields, but I think renaming this to station_area_capacity or similar would make it a lot clearer. The description reads fine.

[2020-07-28 00:56] kanagy commented on #250
For easy comparison, this is how the available vehicles are currently described in station_status (i.e. listing individual vehicles instead of aggregates):
[code]

Note that station_information describes station capacity as aggregates:
[code]

I'm not quite sure why available vehicles were not done in the same format as capacity in https://github.com/NABSA/gbfs/pull/136. Perhaps this was to have t

[2020-07-28 07:50] davidlewis-ito commented on #250
@kanagy I agree it would be possible for producers to expand out the aggregate by simply creating notional bike_id's but being mandated to set the is_reserved, is_disabled and current_range_meters for what may be artificial bikes seems likely to lead to some misinterpretation by consumers.

[2020-07-31 15:04] mplsmitch commented on #251
Since both of these refer to available parking space, as opposed to the capacity of vehicles, I suggest renaming to `parking_capacity` and `vehicle_type_parking_capacity`.

[2020-08-03 13:20] sven4all commented on #249
It would be interesting to make it possible to distribute this information.

For example that there is a repository with all the bike-sharing feeds within the Netherlands that is referenced from a world wide repository.

[2020-08-03 22:20] petoc opened #256 "Multiple auto-discovery feeds in website header"
It is not mentioned in docs, but I believe it should be valid to include multiple auto-discovery feeds in `head` section of website. Similar to allowed multiple RSS feeds. For example, when operator have multiple separate feeds for different cities but only single website.
[code]

Probably most producers prefer to include one aggregated feed in such case, or no link at all.

[2020-08-10 19:37] josee-sabourin commented on #251
How important is it that "vehicle_type" be included in the names of the fields themselves? Is it sufficient for it to be mentioned in the description of the field? Adding vehicle type may make things lengthy.
Example:
`station_area_capacity` vs. `vehicle_type_station_area_capacity`
`station_area_parking_capacity` vs. `vehicle_type_station_area_parking_capacity`
`dock_capacity` vs. `vehicle_type_do

[2020-08-10 21:41] barbeau commented on #251
My votes are for `vehicle_type_area_capacity` and `vehicle_type_dock_capacity` (both in `station_information.json`), for the following reasons:
* Keeping the prefix `vehicle_type` helps differentiate between these two fields (which are specific to vehicle_types) and the pre-existing field `capacity` (which is for all vehicle docking points, not separated by type), which is in the same file
* `area

[2020-08-11 18:22] sfaubert1 commented on #250
We agree at PBSC that a count per vehicle type in the station_status feed would be preferable for us than a list of all vehicles with details.

For example, in a city with thousands of bikes, the station_status feed becomes very heavy if we list all vehicles details in this feed. Since station_status is used to populate maps on websites and apps and is pulled frequently to check the availability o

[2020-08-11 20:56] bddq commented on #249
### CSV upgrade
GEOJson looks like the best alternative to CSV file if we want to provide location for systems but I don't think system location or coverage polygon is needed in that listing.
1. City centroid can be generally determined using current `country code` and `location` fields.
2. Coverage polygons will not be accurate/up-to-date if the system shrinks/expands operating coverage.
3. Feed

[2020-08-12 18:39] mplsmitch commented on #249
I support DCAT in JSON format and moving to a separate repository but I have the same concerns raised by @bixcorp . The purpose of `systems.csv` has been to direct feed consumers to the location of gbfs.json files.  We intentionally limited the scope of the document and chose the csv format to set a low bar for contributors who may or may not be the feed publisher.  The addition of `location.bbox`

[2020-08-12 20:15] mplsmitch commented on #250
The addition of info about individual vehicles added to `station_status.json` in #136 scrambled up the data model.

I think `free_bike_status` should be refactored ( and renamed) to contain all info related to individual vehicles. In docked systems, `station_id` could be used as the location key. Everything in the `vehicles`array would move to the refactored `free_bike_status.json`.

Where `vehicl

[2020-08-13 05:05] petoc commented on #256
It probably did not sound like a question, but if possible, I would like to hear some opinions from someone with experience.

[2020-08-18 16:50] sfaubert1 commented on #250
What would be the next steps for this? A PR and/or a vote? (sorry, I'm getting familiar with the change process)

@heidiguenin FYI, we at PBSC (producer), would be willing to implement and test the changes as proposed by @davidlewis-ito and @mplsmitch above.

[2020-08-19 09:15] davidlewis-ito commented on #251
Without wanting to further complicate things... I note that in the station_status.json, the current dock availability allows the description of docks that can support multiple vehicle types (ie vehicle_docks_available is an array of an array of vehicle_type_ids).

It seems therefore that the descriptions in station_status and station_information have rather diverged. So an example:

3 types of veh

[2020-08-19 09:35] davidlewis-ito commented on #250
We would be very happy to consume your data @sfaubert1

I wonder what the best way forward is.  I like @mplsmitch concept of removing the per-vehicle elements from station_status so should the pull request both add the aggregate counts and remove the per-vehicle (pending refactoring of  free_bike_status) ?

any advice @heidiguenin ?

[2020-08-19 14:01] heidiguenin commented on #250
Thanks, all! Yes, @sfaubert1 the next steps would be to open a PR with the changes that you'd like to see. (If you want to see the current governance and the proposed new governance, you can check out #253.)

Once the PR is open, we need to leave it open for at least 7 days of discussion and further revision before calling a vote, and then the vote takes another 7 days.

MobilityData can create th

[2020-08-22 18:22] sfaubert1 commented on #250
@heidiguenin thanks for the info and the link!

It seems I don't have write access to nabsa/gbfs (or my setup is not done properly)? Would you be able to grant me access? If not, then I would have to ask MobilityData to create the PR and I'll work on getting my access and doing my setup properly. Thanks

[2020-08-24 14:08] josee-sabourin commented on #250
Hi @sfaubert1! You would need to "fork" the repo (essentially make a copy of the repo), make your changes on a branch in your fork and then make a PR here that would be a request to merge your branch to the master repo.

MobilityData would be happy to write up the PR since we'll have to touch on quite a few things, PR coming soon! :)

[2020-08-25 18:55] #163 closed, assigned to nobody

[2020-09-02 07:21] EdouardBavoux opened #262 "Internationalization of free-form text descriptions"
There are some free-form text descriptions specified in the GBFS (example :  cross_street field in station_information.json). I think it would be great to have the possibility to describe these fields in various languages. So far, I think the only way to do so would be to publish/import different sets of GBFS files for different languages (which is heavy, and adds a risk of conflict between the se

[2020-09-02 13:29] barbeau commented on #262
@EdouardBavoux The format of translations in GBFS surprised me too. As it shows in https://github.com/NABSA/gbfs/blob/master/gbfs.md#gbfsjson, you duplicate all the files to have different languages:

[code]

I'm curious if anyone knows the rationale behind this original design decision, and if others feel like having a more lightweight translation mechanism would be helpful.

[2020-09-02 14:14] mplsmitch commented on #262
I don't recall exactly how this was arrived at but at the time there were
multiple providers who were already publishing feeds in this way. I
think we probably just went along with what was already the established
practice.

On Wed, Sep 2, 2020 at 8:29 AM Sean Barbeau <notifications@github.com>
wrote:

--

Mitch Vars | en | Senior Data Modeler | MobilityData IO | mobilitydata.org

mitch@mobilityda

[2020-09-08 20:13] barbeau commented on #262
Just to give an example of an alternate translation design, [GTFS-realtime](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/reference.md) uses a single file for data in all languages (so non-human readable things like booleans and integers aren't duplicated), but for each human-readable field in [Alerts](https://github.com/google/transit/blob/master/gtfs-realtime/spec/en/refere

[2020-09-09 13:51] EdouardBavoux commented on #262
@barbeau : That's definitely a better approach for translations, indeed.

[2020-09-25 17:33] jcn commented on #249
As JSON is a much more verbose format, and not really intended for human-editing, I still support keeping the systems list as a CSV, though I am ambivalent about keeping it in the main repository.

If moving it out helps to keep the history of the main repo then I could see that as a reasonable argument, though I'd almost argue the opposite - that driving people to the main repo to submit their PR

[2020-10-05 14:04] mplsmitch commented on #250
Closing this - taken up in #261

[2020-10-05 14:04] #250 closed, assigned to nobody

[2020-10-06 19:41] mplsmitch commented on #251
Closing this out - This issue is captured in PR  #269 which is currently open for vote until 11:59PM UTC on October 13th, 2020. Please get on over there and vote.

[2020-10-06 19:41] #251 closed, assigned to nobody

[2020-10-07 14:47] mplsmitch commented on #193
Work on Best Practices is continuing based on the feedback we have received. Input has been compiled into a new [GBFS Best Practices v2 [working doc]](https://docs.google.com/document/d/1-G23eh6IhF1yIUKeVo4pUsMBxBkeeSl2jWY2AiZEUvs/edit?usp=sharing). This document will be used to create breaking and non-breaking PRs to incorporate these changes into the spec. Please take a look and provide feedback

[2020-10-07 15:36] mplsmitch commented on #223
@Noe-Santana We've taken this issue up in Best Practices #193. Stations displayed in the `station_information` feed will be required to appear in the `station_status` feed and vice-versa. There's also additional guidance on handling stations that are temporarily down. There's a new [Best Practices document ](https://docs.google.com/document/d/1-G23eh6IhF1yIUKeVo4pUsMBxBkeeSl2jWY2AiZEUvs/edit?usp=s

[2020-10-08 20:29] evansiroky opened #270 "Better clarification of vehicle rental dropoff restrictions requiring station-only dropoffs"
As of the latest spec in 3.0 it seems that it is a little unclear how a provider would communicate that their system requires vehicles to be dropped off at stations only. There appear to be only a few places in the spec that pertain to this topic. Firstly, in the `Files` section, the `free_bike_status.json` file says:

However, in the `geofencing_zones.json` section, it says

Given this wording, i

[2020-10-09 13:42] mplsmitch commented on #270
Related to this we need a way to designate systems that require A to A rentals where vehicles need to be returned to the station or parking place where the rental originated. Hybrid systems make this tricky and there are a lot of them now where different rules apply depending on what type of vehicle is rented.  Maybe `vehichle_types.json` should be extended to apply rules to classes of vehicles?

[2020-10-13 16:10] #193 closed, assigned to nobody

[2020-10-13 16:11] #223 closed, assigned to nobody

[2020-10-21 13:33] mplsmitch commented on #256
@petoc agree this is appropriate - I've added it to the documentation in the Best Practices pr  #271

[2020-10-21 13:33] #256 closed, assigned to nobody

[2020-10-21 15:00] cmonagle commented on #249
If we're open to building some tooling around this process, some of the more onerous data points (like bounding box or polygon) could be determined programatically. Similarly, it would be useful to tie in the future validator to this process.

As for blurring the concerns of system_information and systems.json: I see the distinction as "information for discoverability" and "information for consumi

[2020-10-21 17:02] mplsmitch commented on #232
Some additional guidance has been added in #271 - Short version: realtime files like `station_status` and `free_bike status` should be < 5mins. For others like `regions` or `calendar` that would rarely change the `ttl` might be much longer

[2020-10-21 17:02] #232 closed, assigned to nobody

[2020-10-23 15:12] josee-sabourin commented on #270
This was something that was explored in the carsharing (#255) proposal using a field such as `return_type` or `share_type` with enumerated values such as `free_floating`, `roundtrip`, `station_based`, etc. The biggest question was whether this field should exist in `free_bike_status.json`, `vehicle_types.json` or `system_information.json`, hybrid systems would rule out `system_information.json` th

[2020-10-28 14:11] josee-sabourin opened #272 "JSON Schema"
MobilityData has drafted a JSON schema for GBFS, it will have its own [repository](https://github.com/MobilityData/gbfs-json-schema) and will be managed by MobilityData, please have a look and let us know what you think either in this issue or by opening a PR/issue on the schema repo itself.

Some open questions:
- The schemas are written to be a 1:1 representation of the versions of the spec, doe

[2020-10-28 18:30] thekaveman commented on #272
Hello! Long time lurker on here, just wanted to drop a line with some questions/thoughts:

* Can you share some of the thinking behind putting the schemas in a separate repo? And/or in a separate organization? This feels... a little funny. In my mind, the schemas should live as close as possible to the spec (same repo, or at least same org).

* I've done a lot of work on the [MDS schemas](https://

[2020-10-28 20:18] LeoFrachet commented on #272
Oh, thanks Kegan for the question, it’s a really good one! (And thank you, too, for the offer of help. We’ll be in touch about that!)

GBFS was created in 2014 by Mitch Vars (@mplsmitch) — who is incidentally now working with us at MobilityData — and then NABSA’s endorsement, support, and hosting was key to its success starting in 2015. But, especially given the pace of change in the industry, NAB

[2020-10-28 21:18] thekaveman commented on #272
Thank you @LeoFrachet for the thoughtful response. I'm certainly aware of and supportive of MobilityData's broader efforts across these specs (and tools). I look forward to seeing more of the iceberg and helping where I can!

[2020-10-29 15:25] mplsmitch commented on #28
Closing this issue - this topic has been taken up in #249

[2020-10-29 15:26] #28 closed, assigned to nobody

[2020-10-29 15:29] mplsmitch commented on #34
Closing this - see Improvement of systems.csv #249 for the latest

[2020-10-29 15:29] #34 closed, assigned to nobody

[2020-10-29 16:15] mplsmitch commented on #91
Is anyone interested in revisiting this idea? It seems like it could have additional value now that an incentive could be tied to a GeoFence zone.

[2020-10-29 19:07] mplsmitch commented on #132
Closing this - User has been deleted

[2020-10-29 19:07] #132 closed, assigned to nobody

[2020-11-02 16:35] ebebpl opened #273 "Enhance free_bike_status.json schema to add provider_name ."
Hello, It will be helpful to have the provider_name (the bike operator) as part of the free_bike_status.json schema. Similar to MDS status_changes, trips schema which includes provider_name. This will help to combine multiple operator feeds into a single dashboard or analytics easily as some tools are unable to derive provider_names just based on the feed url when we combine the json data of all p

[2020-11-04 21:46] drewda commented on #249
FYI, we've added GBFS feeds to the Transitland platform:

- `systems.csv` is regularly fetched from this repo and transformed into Transitland's Distributed Mobility Format Registry (DMFR) JSON file format in https://github.com/transitland/transitland-atlas
- GBFS feeds can be browsed at https://www.transit.land/feeds (make sure GBFS checkbox is selected)

Transitland is not fetching and parsing c

[2020-11-20 10:34] NicolasFrasie commented on #270
From the carsharing point of view (as a producer), there are two aspects I would like to highlight :
-  Free-floating carshare services create very small areas with a limited number of parking spots, inside the areas of service where it can be difficult to park, or outside the areas (such as airports). They should be considered as stations since the number of parking spots and vehicle available ar

[2020-12-08 20:11] mplsmitch commented on #273
This is covered by the `operator` field in `system_information.json`

[2020-12-08 20:36] ebebpl commented on #273
Although the operator field in system_information.json has the operator name, in a typical scenario where we ingest say 10 different operators using api GET request to free_bike_status.json it will be convenient to keep the operator name also so that additional api calls to system_information.json are not needed to figure out the operator for each incoming record.

[2020-12-16 14:20] gerazenobi opened #280 "Station type as part of station information"
Hi there,

I would like to know whether there is a way to know if a station is of a certain type ? E.g. I would like to be able to differentiate those stations that support charging electric bikes from those that don't.

Examples seen out there
[code]
[code]

Is this already supported and I don't seem to make the connection between the different files/datasets? E.g we know which types of vehicles

[2020-12-16 14:23] l4b4r4b4b4 commented on #280
I can only second that request! It is an essential feature, if not yet implemented.

[2020-12-16 14:39] mplsmitch commented on #280
@gerazenobi To answer your question, this is not currently supported by the specification.  I agree that there is need for it. To start with I'd like to gather more information to better understand the needs.  Could you post the URLs for the examples you've seen?

[2020-12-16 15:03] gerazenobi commented on #280
Thanks for the quick response.

The examples belonged to the same system but presented in 2 different ways depending on the file/dataset:
- https://toronto-us.publicbikesystem.net/ube/gbfs/v1/en/station_information
- https://toronto-us.publicbikesystem.net/ube/gbfs/v1/en/station_status

other systems sharing the same mechanism/approach:
- https://barcelona-sp.publicbikesystem.net/ube/gbfs/v1/en/st

[2021-01-04 19:52] mplsmitch opened #282 "Implementation of v2.1RC2"
We'd like to make v2.1 official as soon as possible. Under the terms of the governance, before that can happen we need a producer and a consumer to implement it. Is anyone publishing, or aware of a producer who is publishing v2.1? If so, please post a link to the feed.

CC: @sfaubert1  @davidlewis-ito

[2021-01-04 21:31] sfaubert1 commented on #282
Hi! We have a partial implementation of GBFS 2.1-RC2. For example:
https://toronto.publicbikesystem.net/customer/gbfs/v2/

It's missing `system_information.json` and maybe `free_bike_status.json` (also we need to adjust `max_range_meters` in `vehicle_types` feed) as per requirements of https://github.com/NABSA/gbfs/blob/v2.1-RC2/gbfs.md

Full 2.1-RC2 implementation should be completed soon, we'll

[2021-01-08 14:48] mplsmitch commented on #98
Can anyone point me to examples of systems that set different hours for individual stations? I'm aware of OVfiets but looking for additional examples.

[2021-01-12 16:16] #244 closed, assigned to nobody

[2021-01-12 16:16] #173 closed, assigned to nobody

[2021-01-12 16:16] #172 closed, assigned to nobody

[2021-01-12 16:17] #205 closed, assigned to nobody

[2021-01-12 16:17] #184 closed, assigned to nobody

[2021-01-12 16:17] #77 closed, assigned to nobody

[2021-01-12 16:17] #237 closed, assigned to nobody

[2021-01-12 16:17] #199 closed, assigned to nobody

[2021-01-13 18:03] mplsmitch opened #286 "system_id and aggregated feeds"
The `system_id` field was added to `free_bike_status` in v3.0RC as part of #219. It's unclear exactly what the purpose was but it's defined in 3.0RC as

This poses a number of problems. First, the specification was never intended to  be used to produce aggregated feeds that include data from multiple geographic areas. The issue of aggregated feeds has come up in the past, see #127 for an example.

[2021-01-27 20:55] mplsmitch commented on #98
We have a proposal to support this feature. It's done using the Open Street Map Open Hours format which would be a major revision to the specification. Because it's a breaking change it would become part of v3.0. Before it goes to a PR we'd like to encourage some feedback so I've written up the proposal in [this document](https://docs.google.com/document/d/1FN_7FnyqqK7g6unN70fqlMMhE3THIoM0jN_AlmSR

[2021-01-27 20:59] mplsmitch commented on #6
We have a proposal to change the format for operation dates and times to OSM Opening Hours format. Since this would be a breaking change it would happen with v3.0. This is a significant revision to the specification so we'd like to get some feedback before it goes to a PR. I've written up the proposal in [this document](https://docs.google.com/document/d/1FN_7FnyqqK7g6unN70fqlMMhE3THIoM0jN_AlmSR4V

[2021-02-05 16:35] mplsmitch opened #289 "OSM Opening Hours + Station Hours"
### **What is the issue and _why_ is it an issue?**

Just after the release of V1.0 there was a proposal to abandon the proprietary format used by GBFS to describe hours and dates in favor of using the OpenStreetMap [Opening Hours](https://wiki.openstreetmap.org/wiki/Key:opening_hours) format. Discussion of this can be found in issue #6 .

The current method of describing hours and dates of operat

[2021-02-09 11:01] UltrashRicco opened #291 "Missing a couple of french bike-share services"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/support)? It’s possible your question can be answered there!**
Yes

### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**

### **What is the issue and _why_ is it an issue?**
Three bike-share services in France, namely Optymo in Belfort, V

[2021-02-09 18:51] mplsmitch commented on #291
These feeds have been added - thanks!

[2021-02-09 18:51] #291 closed, assigned to nobody

[2021-02-10 11:29] UltrashRicco commented on #291
Great, I hope it helps, thanks!

[2021-02-22 21:51] mplsmitch commented on #6
Closing this - ongoing discussion of OSM Opening Hours has been moved to #289

[2021-02-22 21:51] #6 closed, assigned to nobody

[2021-02-22 21:52] mplsmitch commented on #98
Closing - ongoing discussion of different rental hours per station has been moved to #289

[2021-02-22 21:52] #98 closed, assigned to nobody

[2021-03-23 12:23] cizmarf opened #298 "Pricing plans valid time and week day, add services file"
### **Who I am**

I am working on the project Intermodal Routing Machine for the city of Prague. Currently, I create common data format holding the data of all share mobility providers which should be consume by this routing machine.

### **What is the issue and _why_ is it an issue?**

There are missing important attributes in the pricing plans file or an extra file needs to be created.

I found

[2021-03-29 18:22] #282 closed, assigned to nobody

[2021-04-01 19:27] josee-sabourin commented on #298
Hi there! Thanks for bringing up this issue and welcome to the repository!

The [initial proposal](https://docs.google.com/document/d/1xzC0nS3M-ora32k5RbfhFCsfZp4B-wVKK2-pOokpxmQ/edit?usp=sharing) to extend `system_pricing_plans.json` did include fields to allow for plans that varied based on time, day, or month (albeit not to the level of detail you are suggesting). These were removed to simplify

[2021-04-04 01:44] dirkdk opened #306 "Discovery endpoint for GBFS urls per geography/region"
### About me
I'm senior engineering manager at Spin for all Partner integrations including compliance. In that role I have been on the [OMF Technology council](https://github.com/openmobilityfoundation/governance/wiki/Technology-Council) since its inception.

### **What is the issue and _why_ is it an issue?**
Consumer apps, partners and cities need to guess urls for GBFS feeds per geography (or r

[2021-04-07 12:41] viestat opened #308 "irregularities in geofencing_zones.json"
### whoami
My name is Andrés Viesca and I am a software engineer at [Dott](https://ridedott.com/), I have been working on implementing and maintaining Dott's GBFS service ([gbfs.api.ridedott.com](gbfs.api.ridedott.com)).

### **What is the issue and _why_ is it an issue?**

The current specification for `geofencing_zones.json` has some irregularities, which are an issue to me since they make the s

[2021-04-08 09:26] bartoliniii opened #309 "License of data available in systems.csv"
I'm looking information about license of GBFS feeds stored in systems.csv but unfortunately I didn't find such an information. So I have some questions:

- If any feed is published in systems.csv it means that it can by used by any app (e.g. mobility aggregator)?
- is there any "minimal" license restriction to publish feed url in systems.csv?
- if not, maybe it would be worth extending the system.

[2021-04-08 12:13] mplsmitch commented on #309
Q: _If any feed is published in systems.csv it means that it can by used by any app (e.g. mobility aggregator)?_

A: No - inclusion in systems.csv does not imply any kind of license. You would need to check each feed for license information. Look at `systems_information.json  - license_url` for the location of any license. Many feeds listed in systems.csv are either not licensed or do not publish

[2021-04-09 13:58] bartoliniii commented on #309
@mplsmitch Thank you for your comprehensive answer!
It would definitely be useful because this is the data that you don't know if you can use :-)
I will take part in the discussion in https://github.com/NABSA/gbfs/issues/249

[2021-04-14 19:59] mplsmitch commented on #308
Hello @viestat,
Thank you for bringing these to our attention.  I have incorporated your suggestions into v3.0-RC and v2.2.
To recap:
- `geofencing_zones` is of type `GeoJSON FeatureCollection` .  It's no longer an array in the example JSON
- the `rules` field is an array, it's no longer an object in the example JSON
- `ride_allowed` and `ride_through_allowed` are Conditionally REQUIRED when `rule

[2021-04-16 06:36] gerazenobi commented on #280
< reviving this issue so it doesn't go stale >

[2021-04-16 12:17] mplsmitch commented on #280
@gerazenobi We're planning to work on this issue next month - May. If anyone has other ideas about enhancements to stations please let me know.

[2021-04-16 18:17] evansiroky commented on #270
Adding a comment as I believe this is still a relevant issue.

[2021-04-16 18:25] heidiguenin commented on #270
Thanks @evansiroky - it is indeed, and we're working on it soon.  We'll be working on the needs assessment for vehicle drop-off restrictions in May & will be looking for additional examples from the community.

[2021-04-20 17:28] testower commented on #262
Is there any chance that this will be considered for 3.x @mplsmitch ?

[2021-04-20 19:13] mplsmitch commented on #262
@testower we've got this on our roadmap for Q3 this year so if we're able to pass something it would go in 3.x

[2021-04-21 13:07] mplsmitch commented on #308
Closing this - corrections are in #311

[2021-04-21 13:07] #308 closed, assigned to nobody

[2021-04-21 13:41] mplsmitch commented on #306
I like this idea because it would make discovery easier for feed consumers.

To simplify implementation I think this could be a single endpoint per provider, in other words instead of having an instance for each version or each city, there could be a single file that would point to the `gbfs.json` files for the most recent version available. If there are multiple version available that's already h

[2021-04-21 21:09] mplsmitch opened #317 "Icons and Brand Information"
### **What is the issue and _why_ is it an issue?**
Some consuming applications have expressed a need for Icons and/or other brand related information to represent the mobility services that they aggregate.

### **Please describe some potential solutions you have considered (even if they aren’t related to GBFS).**

This data could be added to `system_information.json`. Here's a rough draft of what

[2021-04-22 00:38] kanagy commented on #317
Hi Mitch, thanks for bringing this up! Few suggestions:

- What do you think about wrapping all these in an object "branding" or "brand_assets"? Other than logically grouping it (and so make it easier to extend with more brand fields), it would make it clear that the whole group is optional. Then you could make  icon_url_standard a required field (i.e. if brand assets are defined, we require at le

[2021-04-22 14:57] davidlewis-ito opened #318 "Pricing plans per vehicle type"
### **What is the issue and _why_ is it an issue?**
The extended system_pricing_plan.json introduced in V2.2 represents a great improvement to enabling pricing schemes to be described in a machine readable form.  It also enables a pricing "plan" to be applied to a specific vehicle instance via free_bike_status.json.  However it seems that it is not possible to apply a pricing scheme to all vehicle

[2021-04-22 17:10] mplsmitch commented on #318
When `system_pricing_plans.json` was extended in v2.2 the `pricing_plan_id` field was added to `free_bike_status.json` to associate pricing plans with vehicles. The thinking was that doing this at the individual vehicle level would allow dynamic pricing based on the vehicle's location.

This poses a challenge for station based systems in that they would be forced to publish the optional `free_bike

[2021-04-23 18:14] mplsmitch commented on #317
Here's a revised version based on comments from @kanagy.  In `system_information.json` there is a `brand_assets` object which contains the other fields. In `vehicle_types.json` there are two new fields added to the `vehicle_types` array, one for a standard vehicle icon and one for a dark mode vehicle icon.

### system_information.json
| Field Name | REQUIRED | Type | Defines |
| ------ | ------ |

[2021-04-23 21:26] petoc commented on #317
Maybe it is intentional, but I think some parameter names are too verbose and removing few prefixes and suffixes could clean it little bit. In case of `last_updated` timestamp, is it really that necessary? I think there are other options to check modification time, for example by checking HTTP header `Last-Modified`, before actual download. Otherwise, should not have other resources such timestamp

[2021-04-25 23:47] kanagy commented on #317
Simpler prefixes look good to me. For the Last-Modified timestamp:
- Should that be mentioined in the documentation for icon_url?
- Would that actually give the date of last time the iconchanged, or if provider has setup e.g. daily autmated releases, the last time the icon has released (which is not saying that it is dfferent now)?

[2021-04-26 02:39] petoc commented on #317
Fair point about `Last-Modified`, in such case it would also change. Usually there is available also expiration date header, but it does not say it changed, too, just for how long it could be cached.

I am just not sure, if it is worth. If it is not easier for consumers to just download resource every release or if they decide not to bundle this file, just to cache it for some time when applicatio

[2021-04-26 12:31] viestat commented on #308
@mplsmitch Thank you for your edits!

[2021-04-26 12:40] janegao2019 commented on #308
Hi there, can you please help unsubscribe me? Thanks!

[2021-04-26 19:31] josee-sabourin opened #319 "Extending vehicle_types.json"
### **What is the issue and _why_ is it an issue?**

In version 2.1 of GBFS, vehicle types were added to the specification to account for the increasing variety of vehicles available for on-demand hire. These vehicle types were added as part of a Minimum Viable Proposal (MVP). Since then, we have seen an increase in the need for providing more granular vehicle details to better equip travellers wi

[2021-04-27 22:10] #91 closed, assigned to nobody

[2021-04-27 22:10] #272 closed, assigned to nobody

[2021-05-03 17:29] #9 closed, assigned to nobody

[2021-05-03 21:53] #249 closed, assigned to nobody

[2021-05-06 10:06] sergip76 opened #321 "Grid Bike Share was closed"
Grid Bike Share sevice in Phoenix (US) was closed on 31th December 2020.

[2021-05-06 13:47] mplsmitch commented on #321
Grid has been removed in 95eb3f3

[2021-05-06 13:47] #321 closed, assigned to nobody

[2021-05-11 15:44] mplsmitch opened #322 "Hold / Reserve time"
### **What is the issue and _why_ is it an issue?**
Many systems allow users to place a hold on a vehicle immediately in advance of a rental. The length of time that vehicle may be reserved is typically < 30 minutes. During this time the vehicle cannot be rented by another user. If a ride is not initiated before the hold time elapses, the vehicle is released and becomes available to other users.

[2021-05-11 18:47] madupras commented on #318
At PBSC we are currently in the process of implementing the system_pricing_plans.json (version 2.2) in GBFS. In our solution, we don't plan on using the free_bike_status.json and this solution is exactly what we need to be able to link a pricing structure to a vehicle model.

[2021-05-13 14:09] josee-sabourin commented on #270
We've conducted a [needs assessment](https://docs.google.com/document/d/1h3tonIpbxpgvidQsNVQVdzud3wjFdbVyXLr0ITh-qZ0/edit?usp=sharing) on this issue to identify some key questions to discuss before moving to a pull request.

The main question, as already identified above, is does the dropoff restriction live in `system_information.json`, `vehicle_types.json`, `station_information.json`, or `free_b

[2021-05-16 11:16] hbruch commented on #270
I added [RegioRad Stuttgart](https://www.regioradstuttgart.de/lastenpedelec) and [Freies Lastenrad Stuttgart](https://www.lastenrad-stuttgart.de/) as examples to the needs assessment document. The latter would be a pure `roundtrip` system. For RegioRad, default system return mode would be `station_based`, exceptions might be modeled in `vehicle_types.json` as `roundtrip`.

A not yet addressed need

[2021-05-17 21:01] schnuerle commented on #319
Thank you for doing work on this important issue. At the [OMF](https://github.com/openmobilityfoundation) are also working on expanding the detail in vehicle types for our upcoming [MDS 1.2.0](https://github.com/openmobilityfoundation/governance/wiki/Release-1.2.0) release. We are currently aligned with your MVP, but have many use cases for not just vehicle types but vehicle properties (eg for var

[2021-05-19 14:02] mplsmitch opened #326 "Station Services Needs Assessment"
### **What is the issue and _why_ is it an issue?**
As station hardware and services evolve, there is a need to represent a wider array of services and attributes at the station level.  The presence of non-standard fields in feeds describing station services and hardware indicates a need for extension to the specification.

### **Please describe some potential solutions you have considered (even i

[2021-05-21 19:09] mplsmitch commented on #280
I've opened a new issue on station services #326 that includes charging stations. I'd like to move this discussion over there and close this issue.  We've got this on our [road map](https://github.com/NABSA/gbfs/wiki/Roadmap) for a PR in Q3. Please provide any feedback in #326

[2021-05-31 13:07] #280 closed, assigned to nobody

[2021-06-01 18:59] mplsmitch commented on #289
This issue has been moved to PR #328 - please follow along there and watch for an upcoming vote on the proposal.

[2021-06-01 18:59] #289 closed, assigned to nobody

[2021-06-01 19:00] josee-sabourin commented on #270
Thanks for all the input, we've opened a pull request at #329. I'll be closing this issue and the discussion can continue over on the pull request.

[2021-06-01 19:00] #270 closed, assigned to nobody

[2021-06-06 22:09] #273 closed, assigned to nobody

[2021-06-09 13:41] mplsmitch commented on #317
This issue has moved to PR #330. Please follow along there.

[2021-06-09 13:41] #317 closed, assigned to nobody

[2021-06-10 18:01] mplsmitch commented on #318
I was planning to move this to a PR this week but in looking at pricing we've found a problem with how this is currently done in `free_bike_status.json`. The problem is that only one pricing plan can be associated with a vehicle using `free_bike_status.json#pricing_plan_id`.

 Ideally there would be an array that would contain all available pricing plans for the vehicle. This could also be done in

[2021-06-10 19:26] mplsmitch commented on #322
This issue has moved to PR #331 - please follow along there

[2021-06-10 19:26] #322 closed, assigned to nobody

[2021-06-10 23:24] kanagy commented on #318
Can you ellaborate for why a vehicle would have different pricing plans and how planning apps should deal with that?

[2021-06-11 08:36] richtaylor-ito commented on #318
@kanagy a scheme might have, for example, "light use" and "heavy use" plans which have different one-off fees and per-km/per-minute rates.  Both of these plans could be published, and then the planning app could either show both as options, or even compute which is optimal for the end user's journey.

[2021-06-11 12:27] mplsmitch commented on #318
In bike sharing it's still common practice to have multiple pricing plans for the same vehicle type. They typically offer a 24hr or 7 day pass for example. We're not modeling anything beyond a single trip fare now but in the future I expect we will. Unfortunately things seems to be getting more complicated over time as you can see in how Chicago is pricing their e-bikes here: https://www.divvybike

[2021-06-18 11:38] viestat opened #332 "Parking spots for Free floating operators"
### whoami
My name is Andrés Viesca and I am a software engineer at Dott, I have been working on implementing and maintaining Dott's GBFS service ([gbfs.api.ridedott.com](gbfs.api.ridedott.com)).

### **What is the issue and _why_ is it an issue?**
There is currently no convenient way to share information about designated parking spots for free floating operators.
This is important because some ci

[2021-06-22 12:56] josee-sabourin commented on #332
Welcome Andrés!

Thanks for opening up this issue.

Have you had a look at #329? It is a proposal to define how a vehicle should be returned at the end of a trip. Perhaps the solution to your issue could be defining those parking spots using `is_virtual_station` in addition to using the `any_station` option in `return_type` suggested in #329.

[2021-06-23 01:07] kanagy commented on #332
Hello! I'd like to learn how big are the Dott's dedicated parking areas? If these are small (say <100x100m) they could be modelled as hybrid systems with virtual stations (a free floating bike that needs to be returned to an unlimited capacity "station" - a single lat/lng rather than area), as Josee suggests.

[2021-06-23 17:45] josee-sabourin commented on #319
Hi all!

After some discussions and feedback from community members, MobilityData has drafted an [extension proposal](https://docs.google.com/document/d/1P_oDBnFvr9qzo0_5YbnrCDYptFQV9ZUOJGfi8ACD1GE/edit#) including what appear to be the most requested vehicle type enhancements. We are going to hold off on making this a pull request until we receive more feedback on the features that have been, or

[2021-06-24 11:17] viestat commented on #332
Hello @josee-sabourin and @kanagy !
Thank you both for your suggestions and for pointing out  #329, I had a look into it just now but I have some concerns about it not addressing all of our needs.

While defining parking spots using `is_virtual_station` seems to definitely be the best way to convey information about them in the spec. There would still not be a way to express that when a user wants

[2021-06-25 12:10] hbruch commented on #319
Thanks for your effort, @josee-sabourin and MobilityData, I'm looking forward to seeing this in the standard, especially the cargo_bicycle addition.

I'd love to see the addition of a photo_url property:
- photo_url: (Optional, URL) URL to an image/photo showing a vehicle of this type. Aspect ratio should be 16x9, recommended resolution 1280 x 720 or 1920 x 1080 pixels, recommended format jpeg.

[2021-06-29 06:40] kanagy commented on #318
Understood.  I forgot that in MVP we decided to only include the typical pricing plan, with the intention of extending that later (which is happening here).

[2021-06-30 18:58] mplsmitch commented on #332
@viestat As you said above the parking spots should be defined as virtual stations using either lan/lon or by using `station_information.json#station_area` ( or both). The parking restriction could then be defined with a `geofencing_zones.json` clockwise polygon with a rule applied that outlines the parking restriction.

Suppose we define another rule  in `gefoencing_zones.json` like `station_park

[2021-07-06 09:23] viestat commented on #332
Hello @mplsmitch, thank you for your suggestion!
I think in the proposed approach, the two needs I mentioned above are met (defining the parking spots & expressing station parking).

[2021-07-07 07:05] thbar opened #334 "The GitHub issue template contains a dead link"
Hello! My team at https://transport.data.gouv.fr and I are going to open an issue. I looked at the "issue template" (https://github.com/NABSA/gbfs/blob/master/.github/ISSUE_TEMPLATE/new-issue-template.md) and noticed that the FAQ points to a dead link (https://gbfs.mobilitydata.org/support).

I am not sure what the correct new link is, but happy to propose a PR once I have that information!

[2021-07-07 13:42] mplsmitch commented on #334
Thanks @thbar - I've fixed the link

[2021-07-07 13:42] #334 closed, assigned to nobody

[2021-07-07 16:55] mplsmitch commented on #318
This issue has been moved to PR #335  - I'm closing this issue. Please continue the conversation on the PR

[2021-07-07 16:55] #318 closed, assigned to nobody

[2021-07-12 14:26] Miryad3108 opened #338 "Proposal for car-sharing support"
### Introduction

[Transport.data.gouv](https://transport.data.gouv.fr/?locale=en) is the French national access point for mobility data.

We are opening this issue on our behalf and on behalf of a working group involving  the “Association des Acteurs de l’Autopartage” (AAA), a French National Association for carsharing [grouping 20+ operators](https://asso-autopartage.fr/), and [Iodines](https://

[2021-07-12 15:03] NicolasFrasie commented on #338
Hi everybody,

At Communauto, we suggest an alternative : keep free_bike_status and vehicle_types as light as possible and describe precisely the wide range of vehicles and accessories into a new file whose name could be vehicle_description.

 As a result, you would obtain :

- vehicle_types.json - new optional data only:

        rider capacity
        trunk size
        vehicle description

[2021-07-27 10:14] thbar commented on #338
Hi @teebot! I work with @Miryad3108 at https://transport.data.gouv.fr/. Glad you support the propositions!

FWIW given the positive feedback so far, we are going to open a first PR on our side in a few days with the team. We'll comment here!

[2021-08-02 21:59] heidiguenin opened #346 "GBFS-Private Needs Assessment"
### **What is the issue and _why_ is it an issue?**
GBFS-Private relates to several issues: historical practice related to bike_id, the need to represent a license plate number for carsharing systems, and the privacy implications of increasingly detailed vehicle information. These all represent uses cases outside of GBFS' historic orientation towards openly available data and have, in some cases,

[2021-08-03 18:15] #286 closed, assigned to nobody

[2021-08-04 12:44] josee-sabourin commented on #338
Hi all! MobilityData has reviewed the proposal in depth and produced a [needs assessment](https://docs.google.com/document/d/1hYb24T1mEhUJWPpB3E8KTps8jB38C28A2kTqZzUHFfc/edit?usp=sharing).  In this needs assessment we don't cover the alternative approach suggested by @NicolasFrasie, however, it does not mean we are discounting the approach. Adding an endpoint to the specification is a large step t

[2021-08-11 11:40] istaheev opened #348 "Proposal for overlapping geofencing zones"
### Who am I

I am working at [Voi](https://www.voiscooters.com), my name is Ilya.

### **What is the issue and _why_ is it an issue?**

Current GBFS version doesn't say anything about overlapping zones and what to do if such happens. However overlapping zones is an useful concept to solve some common problems, for example to introduce a smaller restrictions zone over a bigger "ride allowed" one,

[2021-08-11 14:24] josee-sabourin commented on #348
Hi Ilya, welcome to the repo!

Currently the `rules` field states:

**In the case of overlapping polygons, the combined set of rules associated with the overlapping polygons applies to the union of the polygons. In the event of colliding rules in this set, the earlier rule (in order of the JSON file) also takes precedence.**

Can you tell us the specific case where this language doesn't meet your

[2021-08-12 08:18] istaheev commented on #348
Hi Josee,

Shame on my head, how could I miss this? Thank you, this looks like a solution to our problem, the issue can be closed.

Probably adding a more structure to the document will help future developers locate such things easier :)

[2021-08-12 08:18] #348 closed, assigned to nobody

[2021-08-17 17:38] josee-sabourin commented on #338
Hi everyone, since the PR has been opened in #350, I'm going to close this issue and we can move the discussion to the PR. Thanks!
@teebot @alibenmessaoud @NicolasFrasie @thbar @Miryad3108 @fchabouis

[2021-08-17 17:38] #338 closed, assigned to nobody

[2021-08-19 13:43] nbdh opened #353 "free_bike_status feed lacks region_id"
### **What is the issue and _why_ is it an issue?**
I noticed that the bikes listed in `free_bike_status` can't be associated with a certain _system region_. That means, consumers can only know to which region of a system a bike belongs as long as it is present at a station (and thus has a `station_id`). For all free-floating bikes the region is essentially unknown.

This is an issue because e.g.

[2021-08-19 13:52] nbdh commented on #286
Hi @mplsmitch,

while writing up https://github.com/NABSA/gbfs/issues/353 I noticed this newly introduced field and I'm sharing your confusion about the purpose of this field.

Eventually asking in https://github.com/NABSA/gbfs/pull/219 for the proposed meaning could shed some light upon this?

Otherwise I'd clearly encourage to go with

this proposal.

[2021-08-19 15:55] mplsmitch commented on #353
Hello @nbdh,
You have wonderful timing with your question. I'm just finishing up a PR that addresses some of these issues.  It will remove `system_id` from `free_bike_status` and require that each distinct system or geographic area in which vehicles are operated MUST have its own unique `system_id`.

The lack of a `region_id` in `free_bike_status` is a known issue that needs to be fixed. It should

[2021-08-19 18:44] heidiguenin commented on #326
This issue has been moved to PR #340  - I'm closing this issue. Please continue the conversation on the PR.

[2021-08-19 18:44] #326 closed, assigned to nobody

[2021-08-20 14:42] ncancelliere commented on #332
I like your idea @mplsmitch -- because I am having to try and model similar situations in cities that have designated parking spots. Riders are allowed to park within 100' of the designated spots, and right now there's no good way to express this in GBFS data. We have the larger region denoted `{ride_allowed: false, ride_through_allowed: true}` since riders can transverse the zone but the they mus

[2021-08-26 14:00] nbdh commented on #353
Hello @mplsmitch,

thanks for your reply and extensive explanation regarding the definition of area/region including examples.

It seems we really should start publishing one feed per city, which means a major change for us. It also means we will probably stop publishing `system_regions` (as cities are not further broken up in our system), making this issue less relevant for consumers of our feeds

[2021-08-26 14:32] mplsmitch commented on #353
Hi @nbdh,

I'm not familiar will all of of the NextBike systems but looking at a few I don't think you need to split your feeds by city in every case.
Here's an example:
https://gbfs.nextbike.net/maps/gbfs/v2/nextbike_tq/gbfs.json

from systems_regions:
`{
"region_id": "681",
"name": "Mladá Boleslav"
},
{
"region_id": "704",
"name": "Mnichovo Hradiště"
},
{
"region_id": "718",
"name": "Bakov nad J

[2021-08-27 14:25] mplsmitch commented on #353
Question: If we add `region_id` to `free_bike_status`, how would the region be determined for free floating vehicles? In the case of stations, the region can be determined by the operator and assigned to the station but with free floating vehicles the region would need to be dynamic and `system_regions.json` doesn't contain any geographic information.

[2021-08-30 21:50] evansiroky opened #358 "Clarification of "LTS branch" timelines"
### **What is the issue and _why_ is it an issue?**

In the README there is a mention of a “long-term support” branch that states:

It seems like there is a “current release” noted in the README. Also, it doesn’t seem like there is a noted start date for when 2.2 became the current release other than its GitHub tag metadata. Does the current release always equal the LTS branch?

Also, it would be

[2021-09-01 18:45] josee-sabourin commented on #332
Closing this due to #349 being opened. Discussion can take place there!

[2021-09-01 18:45] #332 closed, assigned to nobody

[2021-09-01 19:46] mplsmitch commented on #358
Hi @evansiroky,

Great question.  We've been discussing this internally because although the README states:

there is no LTS branch identified in the documentation.  The README also states:

A vote to designate a LTS branch has never taken place.  There has never been a designated LTS branch so there's no  past timeline of LTS branch status. We've been planning to schedule a vote sometime later th

[2021-09-03 17:33] heidiguenin opened #360 "Removing bike_id from GBFS"
### **What is the issue and _why_ is it an issue?**
Rotating bike_id was proposed in April of 2019 and was voted into GBFS in January 2020 after community input at the first annual GBFS Developers’ Workshop and in the GitHub repo. (See issue #346  for more background on why bike_id came to be rotated.) At the time, there was discussion of removing bike_id from the free_bike_status file altogether,

[2021-09-03 17:42] heidiguenin opened #361 "Clarifying geofencing_zones.json language about intersections"
### **What is the issue and _why_ is it an issue?**
In the [geofencing documentation](https://github.com/NABSA/gbfs/blob/master/gbfs.md#geofencing_zonesjson-added-in-v21), `rules` states:
"In the event of colliding rules within the same polygon, the earlier rule (in order of the JSON file) takes precedence.
In the case of overlapping polygons, the combined set of rules associated with the overlapp

[2021-09-06 08:56] davidlewis-ito commented on #360
Presumably even if bike_id is removed, in order to provide deep links to the individual vehicle, the identification of the bike will be included within the rental_uris.  So the problem is not really resolved.

[2021-09-07 05:54] aswinthomas opened #364 "Clarification/Rewording of CW and CCW polygons in geofencing_zones.json"
Hi,
I'm Aswin and I work at Google.

### **What is the issue and _why_ is it an issue?**
The wording used to specify whether one should use a CW(clockwise) or CCW(counter clockwise) polygon to specify an operational zone seems unclear or confusing.

The [geoJSON](https://datatracker.ietf.org/doc/html/rfc7946#section-3.1.6) spec says:
`A linear ring MUST follow the right-hand rule with respect to t

[2021-09-07 07:08] sven4all commented on #360
I am against this change. First it's a little bit strange that we remove a field from the standard because operators fail to properly implement the standard. Second when processing the data it's very usable to have an id, in this way you can easily understand if I vehicle is removed from public space or is only moved. Third, deeplinking could also work with dynamic id's, the backend systems of ope

[2021-09-07 07:29] sven4all opened #365 "New form_factor vehicles"
In the Netherlands we would like to have a little bit more detailled form_factor in the standard.

First we would like to introduce the shared cargo bicycle in the standard, it's a bicycle but the form factor is so specific that I think it would be a good idea to add a form factor 'cargo_bicycle' https://twitter.com/svenboor/status/1360964565136265216.

Another form_factor we would like to disting

[2021-09-07 15:38] ncancelliere commented on #364
I am not sure if this makes it any more understandable. I worry that it might confuse individuals even more. Drawing a polygon (going CCW) you end up defining the exterior shape (or service area). Then you are drawing additional CW polygons (holes) into that shape ... the result is like swiss cheese.

<img width="222" alt="Screen Shot 2021-09-07 at 10 18 59 AM" src="https://user-images.githubuserc

[2021-09-07 17:35] josee-sabourin commented on #364
Hi @aswinthomas, welcome to the repository!

@ncancelliere's explanation is the correct interpretation of the rules in the specification. We are planning to improve the documentation for `geofencing_zones.json`, better examples with visual explanations like the ones above will also be added. Hope that helps!

[2021-09-07 17:40] josee-sabourin commented on #365
Hi @sven4all, have you taken a look at #319?

The proposal includes the addition of cargo bicycles and may answer your needs for the distinction between snorfiets and bromfiets. A potential solution could be both are listed as `moped`, however we add a `max_speed` field indicating the maximum speed the vehicle can attain as well as `max_permitted_speed` as proposed in #319, which is the maximum sp

[2021-09-07 17:45] sven4all commented on #365
Hi Josee,

I didn't, thanks for the reference! That should work, I will have a look at #319, close this issue and continue there.

[2021-09-07 17:45] #365 closed, assigned to nobody

[2021-09-08 06:22] sven4all commented on #319
Hi,

I think this is a good proposal. What are the steps to move forward to get it officially adopted in MDS and GBFS? We in the Netherlands would like to start using it and it would be nice to to it directly in an international standardized way.

Best regards,

Sven

[2021-09-08 16:33] josee-sabourin commented on #319
A PR has been opened for this issue over at #370!

@hbruch - the question of image is being discussed on the carsharing proposal over at #347, however in a recent vote, vehicle_type icons have now been added to the specification, you can find the conversation over at #330.

Now that the PR is open, we will close this thread and move the discussion to #370.

[2021-09-08 16:33] #319 closed, assigned to nobody

[2021-09-08 20:52] heidiguenin commented on #248
With #370 open, #329 passed and merged, and the privacy thresholds for smaller fleets under discussion in #346, I'm going to close this and ask that future comments move to those issues.

[2021-09-08 20:52] #248 closed, assigned to nobody

[2021-09-09 11:22] balazsczap commented on #364
Hi everyone, I'm Balázs from TIER Mobility, working with @aswinthomas on our common integration.

While it's true that the GeoJSON spec doesn't specify how properties apply to Polygons, all our internal handling of Polygons are CCW with the rules applying to the surface bounded by the exterior ring. As far as I understand GBFS, it doesn't disallow this behaviour - "SHOULD be modeled according to r

[2021-09-16 19:32] mplsmitch commented on #262
I'd like to reopen this discussion - it was closed by the StaleBot. No additional work has been done on this issue. Is this something we should be looking at for v3.0?

[2021-09-17 07:06] testower commented on #262
This is definitely on our wish list

[2021-09-21 18:50] mplsmitch commented on #306
I've done some work on this and I'd like to get some feedback before moving to at PR for inclusion in v3.0. As @dirkdk said above, adding this endpoint would enable greater discovery of data sets and support cataloging of data sets in [systems.csv](https://github.com/NABSA/gbfs/blob/master/systems.csv).

In order for this to work, we need to clarify what constitutes a  system (or data set) in GBFS

[2021-09-22 07:12] testower commented on #306
I think this is very sensible. If the specification was lenient enough to also allow multiple systems per geography then this could even be used for aggregations across operators like we do at Entur. Would love for that "global" overview to be part of the spec rather than something custom that we do.

[2021-09-22 07:16] testower commented on #360
I'm also against this change for the exact same reasons as listed by @sven4all .

Edit: to elaborate a bit: One reason for us this is a bad idea is that we use the ID as an identifier when building a cache of all vehicles. If we loose the ID we basically have to rebuild the whole cache every time we update the feed.

Either way as was pointed out, deeplinking for require some sort of identifier an

[2021-09-22 11:10] skinkie commented on #360
Discussed in a private discussion with Mobility Data already. Against this change.

[2021-09-29 05:07] #298 closed, assigned to nobody

[2021-09-30 12:48] albertoabellagarcia opened #375 "Mapping GBFS for NGSI standard. How to credit to the authors?"
I'm the responsible person for the Smart Data Models Program. This is an open program to create/document data models and to release them with an open license.
We are mapping [GBFS](https://github.com/smart-data-models/dataModel.GBFS) to work with NGSI standard. When we create those mappings we credit the authors of the source data models. How could we identify them? (all fields are voluntary)

See

[2021-09-30 13:08] heidiguenin commented on #375
Alberto, although GBFS is, now, primarily written and maintained by the shared mobility team at MobilityData, over time there have been 80 contributors to the standard. It would probably be best to just link directly to the contributors page on the repository: https://github.com/NABSA/gbfs/graphs/contributors.

[2021-09-30 13:15] optionsome opened #376 "Define explicitly that a system/station allows station overloading"
Hello,

I'm Joel and I'm working for the Digitransit project in Finland.

### **What is the issue and _why_ is it an issue?**
Currently, there is no explicit way to define vehicles can be left undocked near the stations in situations where a station is full (or even in general). This seems to be possible at least for the most bicycle rental networks in Finland. Despite the number of docks at the s

[2021-09-30 13:35] albertoabellagarcia commented on #375
We are happy to include this link in the customization of the specification but the CONTRIBUTORS.yaml file has a precise format. All fields are voluntary.
I know that we could extract some of this information from github API but it is also true that sometimes people change their organizations and other changes. Does GBFS have a mail list for contributors to send this possibility? This is what we d

[2021-10-01 15:47] heidiguenin commented on #375
Sorry, Alberto, there is no email list for GBFS contributors. Conversations happen here on the repo or through the GBFS slack channel on [MobilityData's workspace](https://bit.ly/mobilitydata-slack).

[2021-10-01 16:52] albertoabellagarcia opened #377 "error in system_alerts example"
The example of payload for the system_alerts data model does not validate against its schema, _start_ and _end_ should be literal numbers and not strings as provided.
Additionally in other examples of data models  (sorry I did not take notes of which ones) failed validations against their schemas because the _version_ attribute has not the enumeration value "3.0"

[2021-10-01 17:00] albertoabellagarcia opened #378 "Error in schema of system_calendar"
In the system_calendar schema for the attributes, start_month and start_day minimum and maximum are swapped.

[2021-10-01 20:20] GerdC commented on #360
A provider that _always_ rotates the ID forced me to create a new annotation each time which triggers the recalculation of clusters which has unwanted visual effects with each update. Against this change.

[2021-10-04 09:30] albertoabellagarcia commented on #375
I got these [contributors](https://github.com/smart-data-models/dataModel.GBFS/blob/master/CONTRIBUTORS.yaml) from the Pull Requests.
I've also asked to join the mobility data workspace.
The [mapping of the data models](https://smartdatamodels.org/index.php/gbfs-standard-mapped/) to be used with NGSI (FIWARE platform) is already published.
thanks

[2021-10-06 15:31] #309 closed, assigned to nobody

[2021-10-14 17:00] mplsmitch commented on #364
@balazsczap

You could wrap your two separate service areas into a single  area using CCW polygon  with `ride_allowed: false` which would apply to the area outside the CCW polygon. Then create CW polygon with the same rule in the area between the two formerly separate service areas.
![Screen Shot 2021-10-14 at 11 07 59 AM](https://user-images.githubusercontent.com/15235861/137358655-93944ec1-b74f-

[2021-10-15 00:31] #375 closed, assigned to nobody

[2021-10-19 10:28] balazsczap commented on #364
Thanks @mplsmitch for the illustration, makes it clear. Another solution we've considered is to add the two business areas to a MultiPolygon, and rewinding them both to be CCW with `ride_allowed: false`, and as far as I understand the spec, the behaviour would be identical to the solution you described.

For the second part, I agree, the spec should apply the same rules to all GeoJSON objects in e

[2021-10-20 13:09] nbdh commented on #353
Hi @mplsmitch,

thanks for taking the time to look through our feeds ;-). I must agree, `nextbike_tq` is an excellent example where the regions would not belong into individual systems. So what I said ("we should start publishing one feed per city") obviously is not correct for all our systems defining of multiple regions.

Regarding your question: At nextbike the region (city) of our free floatin

[2021-10-21 15:08] heidiguenin commented on #378
We [moved this issue](https://github.com/MobilityData/gbfs-validator/issues/45) to the gbfs validator repo, so I'm closing here on the spec. Thank you!

[2021-10-21 15:08] #378 closed, assigned to nobody

[2021-10-21 15:09] heidiguenin commented on #377
We [moved this issue](https://github.com/MobilityData/gbfs-validator/issues/46) to the gbfs validator repo, so I'm closing it here.

[2021-10-21 15:09] #377 closed, assigned to nobody

[2021-10-25 21:41] #346 closed, assigned to nobody

[2021-10-25 22:04] heidiguenin opened #382 "GBFS Developers' Workshop Summary"
Thanks to those who participated in the recent GBFS Developers' Workshop! We hope to return to an in-person workshop next year, so if you are interested in learning about the details as it develops, please drop us a line, and we will make sure you hear about it first.

In the meantime, thank you @josee-sabourin for pulling together [a summary of last week's event](https://bit.ly/2021-GBFS-dev-work

[2021-10-26 21:20] #360 closed, assigned to nobody

[2021-11-09 20:48] josee-sabourin commented on #364
Hi all! We talked about this issue during the Developers' Workshop, see details [here](https://docs.google.com/document/d/1jAwKY9e7rz3Do6EkUecR59Oj5Nm5bM3isNN3plvSE3s/edit#bookmark=id.z54ws8tdgdr4) - we wanted to let you know that we are working on the issue and there will be more updates soon.

[2021-11-09 20:49] josee-sabourin commented on #361
Hi all! We talked about this issue during the Developers' Workshop, see details [here](https://docs.google.com/document/d/1jAwKY9e7rz3Do6EkUecR59Oj5Nm5bM3isNN3plvSE3s/edit#bookmark=id.z54ws8tdgdr4).

[2021-11-09 20:50] josee-sabourin commented on #306
Hi all! We talked about this during the Developers' Workshop, see details [here](https://docs.google.com/document/d/1jAwKY9e7rz3Do6EkUecR59Oj5Nm5bM3isNN3plvSE3s/edit#bookmark=id.byy6l5dfyrxq) - we wanted to let you know that we are working on the issue and will provide an update soon.

[2021-11-09 20:51] josee-sabourin commented on #358
Hi all! We discussed this at length during the Developers' Workshop, see details [here](https://docs.google.com/document/d/1jAwKY9e7rz3Do6EkUecR59Oj5Nm5bM3isNN3plvSE3s/edit#bookmark=id.kklpe8pn9b0p) - we are working on the issue and you can expect a PR shortly.

[2021-11-09 21:15] dirkdk commented on #306
thanks! really exciting

[2021-11-10 14:27] mplsmitch commented on #358
This issue has been moved to PR #386  - please continue discussion in the PR

[2021-11-10 14:27] #358 closed, assigned to nobody

[2021-11-11 18:03] mplsmitch commented on #353
Hi @nbdh,
You say that

but the regions file only defines the region `name` and  `region_id` so how do you determine what region a free floating vehicle is returned to?
I think a way to do this would be to extend the regions file to include GeoJSON  to define the geography of each region. Something like:

[code]
Then when the vehicle is returned you could determine if it's reported location is wit

[2021-11-12 16:16] josee-sabourin commented on #262
As part of our extension process MobilityData has conducted a [needs assessment](https://bit.ly/internationalization-needs-assessment) for this issue by doing a feed census to understand the ways in which various producers choose to internationalize their feeds and how big of a need this is.

The next step will be to create an extension proposal based on the conclusion we arrive to in this discuss

[2021-11-15 20:07] testower commented on #262
@josee-sabourin Just like to chime in that on our side (Entur) internationalization is way for data providers to comply with our requirement for Norwegian language in human facing texts.

[2021-11-17 03:30] HP-Nunes opened #388 "About Bay Wheels trip history data & metadata"
My main question pertains to the [Bay Wheels trip history data](https://s3.amazonaws.com/baywheels-data/index.html). There are 3 categorical values for the **rideable_type** field: _classic_bike_, _docked_bike_, and _electric_bike_. Here is the versioning timeline:

- The **rideable_type** field was introduced with the April 2020 dataset, with the following two attributes:  _docked_bike_, and _ele

[2021-11-17 15:12] mplsmitch commented on #388
@HP-Nunes Seems very unlikely that you'll get a response from Lyft here. Maybe try the email from one of their other data license agreements, e.g.
- https://ride.citibikenyc.com/data-sharing-policy
- https://www.capitalbikeshare.com/data-license-agreement
- https://www.divvybikes.com/data-license-agreement

Also there's a citibike data Google group that might be able to help: https://groups.google

[2021-11-18 15:48] isabelle-dr commented on #377
Hi @albertoabellagarcia, thanks for opening this issue!
I'm looking into and I can't find an error in the JSON schemas related to this.
- the `start` and `end` in `system_alerts` are modelled this way:
[code]
This is how the `timestamp` types are modelled in the JSON Schemas

- The `version` attribute of all `gbfs_versions.json` files have the value 3.0.

Could you explain those errors a little mo

[2021-11-18 23:10] HP-Nunes commented on #388
@mplsmitch Thanks for the suggestion! I was under the impression that the General Bikeshare Feed Specification was maintained by Lyft's staff, but upon reading the Read Me I was visibly mistaken.

[2021-11-19 17:50] albertoabellagarcia commented on #377
If you take the [schema for system_alerts](https://github.com/MobilityData/gbfs-json-schema/blob/master/system_alerts.json) and the payload in the [examples](https://github.com/NABSA/gbfs/blob/v2.2/gbfs.md#system_alertsjson) is wrong because the figures are quoted (therefore it is a string) while they should be unquoted to be a number. (for times subproperty of data->alerts)

[2021-11-22 13:35] mplsmitch commented on #361
This is covered in PR #384
https://github.com/NABSA/gbfs/pull/384

[2021-11-22 13:35] #361 closed, assigned to nobody

[2021-11-23 12:33] isabelle-dr commented on #377
Oh okay I see :)
This has been fixed since the v2.2 release, see [the master branch](https://github.com/NABSA/gbfs/blob/master/gbfs.md#system_alertsjson).

[2021-11-25 11:21] isabelle-dr opened #392 "Issue with requirements of some nested objects in station_status.json and system_pricing_plans.json"
If a nested object is _required_ but the parent is either _Optional_ or _Conditionally Required_, the nested object should be described as _Conditionally Required_.

1. In the file `station_status.json`:
- under `vehicle_docks_available`: `vehicle_type_ids` and `count` are required if `vehicle_docks_available` is defined
- under `vehicle_types_available`: `vehicle_type_id` and `count` are required

[2021-12-01 16:32] heidiguenin commented on #392
Thanks, @isabelle-dr - it does look like we represent this inconsistently right now.

For example, in `system_information.json`:
under `rental_apps` (which is _optional_):`store_uri` is required if `rental_apps` is defined, and `store_uri` is listed as _conditionally required._

We'll make a list of these inconsistencies and get them revised.

[2021-12-04 10:10] pietercolpaert opened #394 "Using GBFS within a Linked Data/RDF publishing strategy"
### Who am I

I’m [a professor at Ghent University](https://pietercolpaert.be) in Belgium, researching how to publish knowledge on Web-Scale. Previous work of my research team includes [Linked Connections](https://linkedconnections.org) as a light-weight interface for public transit route planning, helping the [European Railway Agency with publishing a dataset on railway infrastructure](https://ju

[2021-12-05 09:59] pietercolpaert commented on #394
Probably good idea to wait until this breaking change passed: https://github.com/NABSA/gbfs/pull/354

[2021-12-06 21:58] #388 closed, assigned to nobody

[2021-12-07 23:41] #382 closed, assigned to nobody

[2022-01-01 01:15] nighthawk commented on #306
This would be great to have!

From a consumer perspective, I encourage to add an unambiguous way of identifying cities, such as providing a polygon or a geo coordinate. If it's just a string, you might end up with ambiguous situations if there are multiple cities of that name in the country (e.g., "Neumarkt" or "Frankfurt" in Germany) and some cities that are referred to in multiple ways ("Minneso

[2022-01-05 14:03] isabelle-dr commented on #394
Hello @pietercolpaert, I'm a Product Manager at MobilityData, working on our tools and initiatives to increase data quality. 👋
Thanks for opening up this discussion.

I have very limited experience with linked data, RDF, and context information. I think this is a great opportunity, there is discussions in GTFS around [versioning](https://github.com/google/transit/issues/288) and [URL schemes](http

[2022-01-06 12:58] pietercolpaert commented on #394
Hi @isabelle-dr thanks for getting back to me: much appreciated!

_Discoverability_ and _interoperability_ are certainly big motivations:
 * __A schema.org example__: for parking lots one would use this schema.org entity: https://schema.org/ParkingFacility. The same doesn’t yet exist for bike sharing. For that, schema.org would have to reinvent GBFS into schema.org. Instead I’d propose defining th

[2022-01-13 21:57] benwedge opened #401 "Add reservation price"
I work for [Joyride](https://joyride.city/), a whitelabel solutions company enabling small operators to launch micromobility fleets around the world. Many of our clients use GBFS.

We would like to include a reservation price in the feeds, as some of our clients charge a fee to reserve the vehicle. This appears to be common with our competitors as well based on a market scan.

### **Please describ

[2022-01-17 15:39] mplsmitch commented on #401
Hello @benwedge - welcome, it's wonderful to have your input. This a sounds very reasonable to me although I haven't seen much reservation pricing like this in the wild. Can you point to some examples you know of, either on the Joyride platform or elsewhere?
thanks!

[2022-01-17 18:20] josee-sabourin opened #402 "2021 Shared Mobility Industry Survey"
We have launched the MobilityData 2021 GBFS Industry Survey for all the GBFS Producers and Consumers out there!
We want to better understand the main needs and challenges you are experiencing, with respect to the specification itself, the related supportive tools and resources, and MobilityData’s management of these.
You have until January 28th to give us feedback through the survey.
→ https://bit

[2022-01-17 20:33] benwedge commented on #401
This is an example from Bird in Ottawa (non-Joyride), where they charge $0.35 per minute to reserve, with a maximum of 30 min, which suggests we should do this in the manner of per_min_pricing

<img src="https://user-images.githubusercontent.com/11489610/149831537-eaaf0f29-4607-4091-8c70-75aa238620a9.PNG" width=33% height=33%>

This is an example from [Unlimited Biking](https://www.unlimitedbiking

[2022-01-27 16:30] mplsmitch commented on #392
This has been corrected in #397 - closing issue

[2022-01-27 16:30] #392 closed, assigned to heidiguenin

[2022-01-27 19:38] mplsmitch opened #404 "Geofencing refactor"
MobilityData has been working on a refactor of the `geofencing_zones.json` file. The geofencing endpoint was added to the specification starting with v2.1 in early 2020. Since that time we've heard that it's has been a source of confusion for both data producers and consumers. Before opening a PR, we'd like to solicit feedback on a proposed solution. Because this has been a difficult topic for peo

[2022-01-30 00:33] heidiguenin commented on #364
Mitch has put together a presentation detailing some of the current challenges with geofencing_zones.json and some proposed solutions - please check it out in Issue #404 !

[2022-01-31 19:30] #364 closed, assigned to nobody

[2022-02-01 18:20] mtborges commented on #404
I would like to offer a few suggestions to for the Geofencing refactor effort. Below you'll find our ideas, please feel free to ask for more details if needed.

1. **Geofence Zones assumptions:** currently the specification states that `"By default, no restrictions apply everywhere. Geofencing zones SHOULD be modeled according to restrictions rather than allowance"`. This creates situations where

[2022-02-10 16:05] josee-sabourin commented on #404
Tagging those who had interest in this topic at the Developer's Workshop: @cmonagle @viestat @richtaylor-ito @nbdh @freemvmt @balazsczap @ezmckinn @testower

[2022-02-18 10:25] tadam313 commented on #404
Adam from TIER: we are generally welcome the proposed changes, as it would maintain consistency with GeoJSON spec and clarify rules applications.

On the other hand, though, we support @mtborges alternative suggestions, especially on the first 2 points. We need to use feeds with multiple service areas in them, exterior rules would be problematic to manage (2) in those feeds due to overlapping issu

[2022-03-01 21:50] mplsmitch commented on #404
Can you elaborate on what you mean by "disallowed"?

On item number 2, it's common practice to allow users to take vehicles outside the service area so I don't think you can call this an edge case, here's an example on Rotterdam https://nl.go-sharing.com/en/bikesharing/
The practice may vary by vehicle type but generally if you rent a bicycle, it can be ridden anywhere privately owned bicycles can

[2022-03-03 00:08] DaveL17 opened #413 "`systems.csv` Contains URLs with Characters that Should be Encoded"
### **What is the issue and _why_ is it an issue?**
Sometimes URIs within the `systems.csv` file contain URI reserved characters.  While they may not necessarily all be breaking instances, they can at times create down-stream issues with clients.  These reserved characters are listed in [RFC3986](https://www.rfc-editor.org/rfc/rfc3986).

To maintain best practice, these `gen-delim` and `sub-delim`

[2022-03-03 14:09] mplsmitch commented on #413
Thanks @DaveL17 - I fixed the one you found and I don't see any others. If you come across more let us know or just open a PR.

[2022-03-03 14:09] #413 closed, assigned to nobody

[2022-03-03 17:07] DaveL17 commented on #413
Thanks for taking care of so quickly!

Cheers,
Dave

[2022-03-17 08:33] bddq opened #419 "PBSC GBFS are not secured"
Hi, Benoit from VeloDispo apps on iOS.

I updated PBSC networks from last #416 / #417 PRs (@fbouchPBSC) and I found that new GBFS endpoints v2 are mentioning `http` protocol that is redirecting to `https`.
Will not be better to add `https` URLs in the `gbfs.json` file?

Regards,
Benoit

[2022-03-17 12:56] fbouchPBSC commented on #419
Hi, you are correct!  I will raise a ticket here and have the links corrected.  Thanks

[2022-03-17 20:09] mplsmitch commented on #376
@optionsome Can you say more about how this works in Finland? Does this mean that there are cases where bikes are left unlocked when stations are full?

I'm familiar with City Bikes in Helsinki and I believe the bikes have a built in lock that can be used to secure the bike and end the rental when outside the station. In that case they would have a `return_type` ( `return_constraint` as of v2.3-RC

[2022-03-17 20:46] optionsome commented on #376
I think the cases we have elsewhere in Finland are really similar to the Helsinki one. You have to return the bicycle either to one of the docks or within a certain radius of a station (the bicycle can be locked using a chain lock that is attached from both ends to the bicycle). I think these bicycles can be considered to be attached to the station more than truly free floating. I think the `hybri

[2022-03-21 17:28] viestat commented on #404
@mplsmitch, thank you so much for making such a clear explanation of the problem and the proposed solution. I feel it really represents what was discussed in the workshop!

Form Dott's perspective here are our comments:

## New fields

### Classification
This is an interesting concept, I think that this would be useful to prevent confusion regarding which polygon is what, but I think we should tak

[2022-03-25 07:59] testower opened #420 "Breaking change in v2.3-RC2"
As raised in slack earlier in the week.

### **What is the issue and _why_ is it an issue?**

I noticed there is a breaking change in v2.3-RC2, in vehicle_types.json, name in the conditional requirement of the new field "default_pricing_plan_id":

We are unable to complete implementation of this release candidate until this is solved.

### **Please describe some potential solutions you have consid

[2022-03-25 18:24] mplsmitch commented on #420
Thanks for Flagging this @testower  - I'm updating the release candidate, should be completed sometime on Monday 3/28. I'll update this issue when the corrected release candidate is ready.

[2022-03-28 19:04] mplsmitch commented on #420
This change has been incorporated into v2.3-RC2 along with other minor corrections

[2022-03-28 19:04] #420 closed, assigned to nobody

[2022-03-30 16:06] mplsmitch commented on #404
Regarding the disallowing of anything outside the service area polygon, here are a couple of examples of systems that explicitly allow vehicles to travel outside service areas.

This example comes from [Go sharing](https://nl.go-sharing.com/en/bikesharing/) which rents mopeds, ebikes and cars in the Netherlands:

![Screen Shot 2022-03-30 at 10 17 05 AM](https://user-images.githubusercontent.com/15

[2022-03-30 19:48] mtborges commented on #404
Answers inline to a few comments above:

Our suggestion is that for providers that add any `geofencing_zones.json`, everything that is not explicitly allowed on geofences (parking, riding, etc) is considered prohibited for any routing purposes on trip planning apps or data consumers. The current definition on GBFS would not change if a provider does not have any `geofencing_zones.json`, in other w

[2022-03-30 21:50] mplsmitch commented on #404
TheShareNow example above is an extreme case but according the the chart, if the car were rented in Italy a geofence covering a "sufficiently large ride area" would have to include Switzerland, Austria, Germany, France, Luxembourg and Lichtenstein. Given that:

users would be prohibited from driving in any of those countries unless they were included in the geofencing_zones file.

I'm all in favor

[2022-04-01 15:37] mplsmitch commented on #401
@benwedge there was some work done on reservations a while back when we were working on integrating carsharing but the only thing that ultimately made it in the spec was `default_reserve_time` as part of `vehicle_types` in v2.3-RC2.  I think this belongs in the `system_pricing_plans`  file and your examples above indicate that more than one solution is needed.  Can you share a URL for an Unlimited

[2022-04-01 17:52] benwedge commented on #401
Hi @mplsmitch - we have yet to upgrade to a version where we would use per-minute pricing (2.2 or 2.3). What I can share is this older feed for Ginger, https://eu-feeds.joyridecity.bike/api/v1/ginger/chester/gbfs/1/system_pricing_plans.json, which refers to this fleet https://www.ginger.town/chester. The reservation rule for that operation is 2 GBP per 5 min interval.

When we upgrade to 2.3 their

[2022-04-04 09:27] optionsome opened #424 "Systems should have end_date"
### **What is the issue and _why_ is it an issue?**
Currently, `system_information.json` has `start_date` but no end date. If it was also possible to define `end_date`, ~~it would be possible for us to figure out from the data when the season is on for systems that don't operate throughout the year. It is common in countries with snow (such as here in Finland) that most systems only operate during

[2022-04-04 09:38] optionsome commented on #424
I now realised that there is system_calendar.json which partly solves this issue. However, for permanently closing systems I think this concern is still valid.

[2022-04-04 14:49] mplsmitch commented on #424
@optionsome
I think you've mostly got this figured out - `systems_information.json#start_date` represents the date when the system began operations. Dates and times of service are currently handled in  `system_hours.json` and `system_calendar.json` but starting in v3.0 they will move to`system_information.json` using OSM Opening hours.

For systems that permanently stop operations, it's assumed th

[2022-04-09 11:21] kg-b0mbe opened #425 "Why not adding "motorcycle" to vehicle's general form factor"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/faq)? It’s possible your question can be answered there!**
Yup.

### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**

I'm working for shared mobility company, OpenStreet.Corp(https://www.openstreet.co.jp/) in Japan.

### **What is the is

[2022-04-10 07:04] kumatira opened #426 "Add image URL to station_information.json"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/faq)? It’s possible your question can be answered there!**
Yes

### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**
I'm @kumatira(real name: KUMANO Soma).I work at VAL Laboratory, Inc. in Tokyo. We develop the search engine specialized i

[2022-04-10 20:24] futuretap commented on #426
+1

[2022-04-14 19:19] mplsmitch commented on #402
2021 Survey has been completed - partial summary of findings here: https://mobilitydata.org/2021-shared-mobility-industry-survey-results/

[2022-04-14 19:19] #402 closed, assigned to nobody

[2022-04-15 14:01] mplsmitch commented on #425
I'm not opposed to adding a "Motorcycle" enum to the list of vehicle form factors, however the vehicle that you linked to would not be classified as a motorcycle in the countries I am familiar with. Motorcycles are typically capable of highway speeds and subject to stringent licensing requirements for both the vehicle and the rider. They have engine displacements of more than 50cc and usually more

[2022-04-15 15:05] mplsmitch commented on #426
This seems like a worthwhile while addition that could provide value to end users. It's similar to `vehicle_image` but I think because this would involve multiple photographs of stations in the public right of way there are some additional considerations that would need to be addressed. GBFS consuming applications would be reluctant to use these images without some assurances regarding copyright a

[2022-04-18 15:50] kg-b0mbe commented on #425
Thank you for understanding my situation and appealing for the need to find a new vehicle taxonomy. As you mentioned, new mobilities are showing up so we need some standard to classify vehicle. In Japan these vehicles are getting popular but I’m not sure which category is the best for them. Are these vehicles also moped?

GYRO-e (HONDA)
https://www.honda.co.jp/GYROe/

C+walk (TOYOTA)
https://toyot

[2022-04-22 16:46] mplsmitch commented on #425
How a moped is defined is open to debate. In the specification, the `moped` enum was intended as a classification for low to medium speed vehicles, lighter and less powerful than motorcycles and distinct from electric kick scooters. In the past, these vehicles might have been classified as scooters but the introduction of the electric kick scooters made this use of the term "scooter" confusing.

h

[2022-05-10 01:33] kg-b0mbe commented on #425
Thanks for your answer.

I got unexpected answers about each vehicle. I understand that way of classify vehicles is very different based on the culture, the country’s law and the times than I expected.

If other people also don’t have good idea, does GBFS make original vehicle taxonomies?

[2022-05-16 01:04] sergip76 opened #432 "Data from Nextbike for Pittsburgh Healthy Ride doesn't work"
Data from Nextbike for Pittsburgh Healthy Ride is not working:
https://gbfs.nextbike.net/maps/gbfs/v2/nextbike_pp/gbfs.json
Does anybody know the new URL?

Thanks.

[2022-05-16 02:58] mplsmitch commented on #432
That's no longer a nextbike system, they have a new operator and a new name. Website is pogoh.com, Here's the feed: https://pittsburgh.publicbikesystem.net/customer/gbfs/v2/gbfs.json

[2022-05-16 08:29] sergip76 commented on #432
Thank you very much!!

So it's necessary to change it in the systems.csv file.

[2022-05-25 18:57] bddq commented on #419
Any news @fbouchPBSC?

[2022-05-26 09:52] pietercolpaert commented on #394
We are still working on a PR as a side-project. Not stale, give us a bit more time :)

[2022-05-26 19:33] emmambd commented on #432
Hi @sergip76 - yes. Feel free to contribute a change to systems.csv. Otherwise I will make sure it's updated at the end of June.

[2022-06-06 15:50] cmonagle commented on #425
This issue was discussed at the Mobility Data Developer GBFS Workshop:

One of the higher level discussions was focusing on what's relevant for users and consumers, rather than an enum of all possible form factors, which may have different definitions in different regions. This would entail, potentially, removing the form factor field, and instead including some of the following characteristics of

[2022-06-06 15:53] CourchesneA opened #434 "Add easier interface for contributions to system.csv"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/faq)? It’s possible your question can be answered there!**
yes
### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**
Anthony Courchesne - [IVI](https://www.ivisolutions.ca/en/)
Attendee at IMDS / Developer workshop

### **What is the issue

[2022-06-06 19:09] cmonagle commented on #404
This was discussed at the Mobility Data Developer's Workshop today, here are some notes from where we landed:

- Polygons should define the interior (never the exterior)
- if geofencing is not present, there are no restrictions. But if geofencing is present, restrictions apply by default.
- If ride-through is allowed outside the main service zone, the provider should provide a polygon correspondin

[2022-06-15 19:08] mplsmitch commented on #432
This has been updated in systems.csv - #433, HealthyRide is now POGOH

[2022-06-15 19:08] #432 closed, assigned to nobody

[2022-06-15 19:09] mplsmitch commented on #424
Closing this - issue resolved

[2022-06-15 19:09] #424 closed, assigned to nobody

[2022-06-15 19:14] mplsmitch commented on #419
@fbouchPBSC I noticed this continues to be an issue with the new feeds for POGOH - the URLs in gbfs.json are all http:

`{
"name": "gbfs_versions",
"url": "http://pittsburgh.publicbikesystem.net/operation/customer/gbfs/v2/gbfs_versions"
},
{
"name": "vehicles_types",
"url": "http://pittsburgh.publicbikesystem.net/operation/customer/gbfs/v2/en/vehicle_types"
},`

[2022-06-15 19:25] fbouchPBSC commented on #419
Hi, I know.  The ticket has been raised in our system.  Awaiting a fix.

Thanks

[2022-06-16 16:34] kg-b0mbe opened #436 "Is Auto-Discovery URL with access token OK?"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/faq)? It’s possible your question can be answered there!**
YES
### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**

I'm working for shared mobility company, OpenStreet.Corp(https://www.openstreet.co.jp/) in Japan.

### **What is the issu

[2022-06-16 16:45] mplsmitch commented on #436
Use of access tokens is discouraged - feeds listed in systems.csv should be easily accessible to the public without requiring a token or other means of authentication. See here: https://github.com/NABSA/gbfs/blob/master/gbfs.md#accessibility

If you could persuade them to remove the token requirement that would be great. I would love to seed Japan become part of the systems catalog.

[2022-06-16 17:24] kg-b0mbe commented on #436
Thanks for your quick answer and I'm sorry I overlooked part of accessibility. I sent email them that  use of access tokens is not encouraged and I'll see how it works.

[2022-06-28 09:40] mikael-epigram opened #438 "Clarification in specification on license_id & license_url allowed values"
From the 3.0-RC spec there seems to be set a requirement that either  `license_id` or `license_url` must be provided.

`license_id: REQUIRED if the dataset is provided under a standard license.` (...) `Provide license_id rather than license_url if the license is included in the SPDX License List.`

`license_url: REQUIRED if the dataset is provided under a customized license.` (...) `Do not specify

[2022-06-29 18:20] mplsmitch commented on #438
As of the v3.0 Draft, in order to be considered compliant with the specification, feeds MUST contain either `license_url` or `license_id`.  A feed that does not contain one of these fields would not be valid.

 I'm not much of a fan of the creative commons language used in those two fields. I don't think it would give data consumers the level of assurance needed to consume data where no license is

[2022-06-29 18:48] futuretap commented on #438
I would support replacing it with something like

    If the license_id and license_url fields are blank or omitted, the feed is considered **public domain**.

[2022-07-11 13:57] mplsmitch commented on #436
Resolved - closing issue

[2022-07-11 13:57] #436 closed, assigned to nobody

[2022-07-20 20:15] fbouchPBSC commented on #419
Fix is done and will be released in the coming weeks to all PBSC systems.

[2022-08-03 16:48] benwedge commented on #401
Hi @mplsmitch just wanted to follow up on the information provided above

[2022-08-23 21:24] mplsmitch commented on #401
Here's a proposal - if it's acceptable to everyone I'll open a PR - if not, weigh in here and let me know what needs fixing and/or clarifying.

To be added to: [system_pricing_plans.json](https://github.com/NABSA/gbfs/blob/master/gbfs.md#system_pricing_plansjson)

Field | REQUIRED | Defines
-- | -- | --
`reservation_price_per_min` | OPTIONAL | The cost, described per minute, to reserve the vehicle

[2022-08-24 15:24] benwedge commented on #401
This proposal looks good to me, @mplsmitch. It does make me wonder if `default_reserve_time` is an appropriate descriptor, but that's a separate issue.

[2022-08-30 14:13] unforgettableid opened #448 "Dear PBSC: Please publish current_fuel_percent data, to reveal the battery charge of each e-bike"
(PBSC is a company which sells bike-share products and services worldwide, including a technology platform. If a city uses PBSC's technology platform, the city will include `publicbikesystem.net` somewhere in its feed URL.)

Dear @fbouchPBSC:

# Background information

Hi!  I'm a Bike Share Toronto customer, with a yearly membership.  I don't develop any bike-share apps, but I do use such apps.

I

[2022-08-30 16:31] fbouchPBSC commented on #448
Hi,

in GBFS V2.3, `current_fuel_percent` is provided only in the free_bike_status.json file.  We don't publish this file since our bike share system is currently dock based only (no free floating bikes).

Thanks,

Francois

[2022-08-30 20:26] unforgettableid commented on #448
Hi Francois,

Things might have been different in GBVS v2.2.  But, nowadays, GBFS v2.3 [writes](https://gbfs.mobilitydata.org/specification/reference/#free_bike_statusjson) that free_bike_status.json is:

"REQUIRED for free floating (dockless) vehicles. OPTIONAL for station based (docked) vehicles."

So, it is now completely acceptable for docked-only bike-share vendors to publish a free_bike_stat

[2022-09-23 11:01] futuretap opened #451 "Ginger GBFS feed dead"
The Ginger GBFS feeds return a "File not found."
Example: https://eu-feeds.joyridecity.bike/api/v1/ginger/chester/gbfs/1/

[2022-09-23 14:56] mplsmitch commented on #451
This seems to have resolved itself -  it's returning 200 now for me

[2022-09-23 21:20] futuretap commented on #451
Indeed, looks good again. Thanks for checking.

[2022-09-23 21:20] #451 closed, assigned to nobody

[2022-10-02 07:25] unforgettableid commented on #448
Hi Francois,

Things might have been different in GBVS v2.2.  But, nowadays, GBFS v2.3 [writes](https://gbfs.mobilitydata.org/specification/reference/#free_bike_statusjson) that free_bike_status.json is:

"REQUIRED for free floating (dockless) vehicles. OPTIONAL for station based (docked) vehicles."

So, it is now completely acceptable for docked-only bike-share vendors to publish a free_bike_stat

[2022-10-06 23:24] erik-moedt commented on #448
This would be the choice of the operator/supplier and not an issue with the GBFS feed standard. I would take this up with Bike Share Toronto or PBSC.

We recently did added battery levels in Vancouver as part of the introduction of ebikes however I have not seen any data consumers use our battery data publicly. It is still rare for a docked operator to provide this.

[2022-10-11 07:45] mplsmitch commented on #401
@benwedge there's a discussion that explains why we went with
`default_reserve_time` vs just `reserve_time` here:
https://github.com/NABSA/gbfs/pull/331

On Wed, Aug 24, 2022 at 10:24 AM benwedge ***@***.***> wrote:

[2022-10-11 17:19] Sergiodero opened #455 "GBFS governance"
Hi GBFS community!

I’m Sergio, Community Facilitator for Shared Mobility at MobilityData.

We have heard the community’s interest in opening the discussion around the GBFS governance to reflect the community-driven nature of the spec. MobilityData has recently become [the new home of the GBFS repository](https://share.mobilitydata.org/mobility-data-new-home-for-gbfs) and moving forward we want to

[2022-10-12 07:07] testower commented on #262
Any news on this @heidiguenin ?

[2022-10-12 08:08] pietercolpaert commented on #394
Still working on it. We are:
 1. Creating a spec for adding tags to JSON schemas that can then allow a processor to translate the JSON schema to RDFS and SHACL
 2. Prototyping the actual processor
 3. Creating a github action that we could pull request here to automatically generate the Linked Data specs inside this repository and start from there to have more discussions

Will share the link to t

[2022-10-12 17:32] heidiguenin commented on #262
Hi @testower - I stopped working for MobilityData in February this year, so this one's not in my hands anymore. Maybe @josee-sabourin can help?

[2022-10-14 17:29] Sergiodero commented on #401
Hi @benwedge @mplsmitch

Would you be interested in opening a PR for this change using the current proposal?

At MobilityData we’re happy to walk along with you during the change process (PR opening and vote calling) and help facilitate it.

[2022-10-14 17:30] benwedge commented on #401
Sure, how do I do that? @Sergiodero

[2022-10-14 17:30] Sergiodero commented on #262
Hi @testower,

From our side at MobilityData we are still very much interested in supporting the community to explore potential solutions to improve translations in GBFS (i.e. internationalization).

Currently we are undergoing some work on other parts of the spec that demand some of our capacity at the moment, but considering that this is a breaking change there’s an opportunity to incorporate th

[2022-10-14 18:01] Sergiodero commented on #401
Thanks @benwedge

You would need to open a new Pull Request proposing the changes in the [GBFS repo](https://github.com/MobilityData/gbfs), allowing at least 7 calendar days for discussion to then call for a vote once the discussion is considered resolved. Perhaps @mplsmitch might still be able to help with this first step (opening the PR).

Please note that for the vote to be passed it requires u

[2022-10-14 18:05] mplsmitch commented on #401
@benwedge I'll open a PR - if you open it then you're not eligible to vote and we may need your vote to pass it

[2022-10-14 18:09] benwedge commented on #401
Oops, I created it before seeing your note!

[2022-10-14 19:18] mplsmitch commented on #401
No problem - looks like you created it on an old branch of mine that's no longer relevant, which creates tons of merge conflicts.  For future reference, when working on  a PR you should always start with a new branch created from the master so that everything is up to date.

I'll make a new PR, should be ready later today.

[2022-10-14 19:25] benwedge commented on #401
Sorry! Thanks for your patience & clarification on this

[2022-10-16 20:52] testower commented on #262
@Sergiodero I would be happy to do this, but I may need some guidance wrt where to start. I think @barbeau's suggestion is as good a starting point as any other. The road to a PR is unclear to me. Do we even agree which fields are considered "human readable" and eligible for translation?

[2022-10-16 22:56] mplsmitch commented on #262
Hello @testower - I'm also stuck on where to begin on this. It's a big job. I would say any text that could be expressed in multiple languages, right down to the name of the system should be considered, for example:

[code]
We need a way to designate which fields are open to translation. All of the fields that this would apply to are currently typed as `String` but obviously not all of those strin

[2022-10-17 07:01] testower commented on #262
For clarity, compare to the current style:

| Field Name                 | Required | Type | Defines |
|----------------------|----------|------|---------|
| `name` | Yes | Array | An array of objects where each object contains a text string and it's corresponding language code |
|   - `text` | Yes | String | The public name of the station for display in maps, digital signage, and other text appli

[2022-10-19 16:30] mplsmitch commented on #455
I think the governance is really important to the project, but it's long and nobody reads it. For anyone who's interested, here's the [document](https://docs.google.com/document/d/1LIQECzeKw7nVPiUVJpCzkmSkmWcmwX5FePzA8y4QQcM/edit) that covers the current governance development. Right now the governance text on the README is serving as both the guard rails for the project, and as instructions on ho

[2022-10-19 16:46] mplsmitch commented on #262
that works - you're right, we should stick with the current format and focus on the language problem. If it becomes an issue we can always change it later

[2022-10-26 07:02] testower commented on #262
Here's a draft outline of changes based on what's on master (v3.0-Draft)

## `gbfs.json`

The structure here should change so that the data object contains a single field `feeds` instead of one field per language.

## `system_information.json`

- The `language` field should be changed to list supported languages with an Array of Language.

Fields open for translation:

- `name`
- `short_name`
- `o

[2022-10-26 17:20] mplsmitch commented on #262
This looks really good - I don't see any other fields that would need translating.

I agree this worth doing. It can be handled in the same way as the other translatable fields (with arrays).
Fields it would apply to:

### `system_information.json`

- `terms_url`
- `privacy_url`
- `brand_terms_url`
- `license_url`

Happy to help if I can, let me know

[2022-10-27 09:56] testower commented on #262
Probably also `url` in `system_alerts.json`

[2022-10-27 10:51] testower commented on #262
The localization section also needs revision (https://github.com/MobilityData/gbfs/blob/master/gbfs.md#localization), or maybe it's no longer needed?

[2022-10-28 09:22] testower commented on #262
There are a few more fields in `vehicle_types.json` that should be considered: `make`, `model`, and `color`. I'm guessing that `make` and `model` may not be translatable within any given system (but should we make that assumption), while `color` probably is.

[2022-10-28 10:34] testower commented on #262
Out of these, could we possibly rule out `brand_terms_url`, and `license_url` as these are not intended for end-users but consumers of the data?

[2022-11-04 22:04] kheraankit opened #464 "GBFS API version specific requests"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/faq)? It’s possible your question can be answered there!**
yes
### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**
Ankit Khera - Lime
### **What is the issue and _why_ is it an issue?**
There are multiple versions of GBFS that we are cur

[2022-11-11 18:42] bhargav-lime opened #466 "GBFS v2.3 vehicle_type has typo"
### **Have you read our [FAQ](https://gbfs.mobilitydata.org/faq)? It’s possible your question can be answered there!**
Yes

### **If you are new to the specification, please introduce yourself (name and organization/link to GBFS). It’s helpful to know who we're chatting with!**
Bhargav Jhaveri - I work with Lime

### **What is the issue and _why_ is it an issue?**
There is typo in v2.3 Spec in veh

[2022-11-11 18:45] bhargav-lime commented on #466
PR: https://github.com/MobilityData/gbfs/pull/465

[2022-11-14 13:18] josee-sabourin commented on #466
Thanks for this, PR has been merged.

[2022-11-14 13:18] #466 closed, assigned to nobody

[2022-11-17 14:12] viestat opened #467 "Add new vehicle accessories and parts"
### whoami

My name is Andrés Viesca and I am a software engineer at Dott, I have been working on implementing and maintaining Dott's GBFS service ([gbfs.api.ridedott.com](gbfs.api.ridedott.com)).

### **What is the issue and _why_ is it an issue?**

We have some vehicles that have different accessories or parts that cannot be currently exposed to consumers as part of the latest version of GBFS.

[2022-11-17 17:32] Sergiodero commented on #467
Hi Andrés,

Thanks for opening this issue, these are useful and interesting suggestions.

Based on your description it sounds like the suggestions can work as a practical solution since these features fit the field descriptions in the current spec. Considering that the manual lock is a "permanent" feature of the vehicle it does make sense to be considered as a value within `vehicle_accessories` as

[2022-11-17 19:57] mplsmitch commented on #467
Hello @viestat , I have a few questions -

 I can see why as a user I would want to know whether of not a helmet is present when choosing a vehicle.  As you suggest this could be done by adding `helmet` to the list of valid values for `vehicle_equipment`.  What I don't understand is why would a user want to know that there is a helmet compartment on the vehicle? Would a user choose a vehicle based